<div class="fixed-header SID-header-snippent">
	<div class="header-logoarea">
    	<img src="logo.png"/>
    </div>
    <div class="header-info">
    </div>
</div>

<!--左侧-->
<div class="fixed-side-left" style="display:none;">
	<ul class="nav-category SID-menu-snippet">
    </ul>
</div>

<!--右侧-->
<div class="fixed-center SID-main-container-snippet">
	<div class="SID-manage-snippent"></div>
</div>

<!--底部-->
<div class="fixed-footer">
    <span>Copyright◎2016南京烽火星空通信发展有限公司 苏ICP备11014881号-5</span>
</div>
