<div class="pop-config-box">

    <div class="pop-aside">
        <ul class="pop-asidelist">
            <li class="active"><a><span class="line"></span>问卷设置</a></li>
        </ul>
    </div>
    <div class="pop-cons">
        <div class="formBox">

            <div class="crumb">
                问卷调查 &gt; <span>编辑问卷</span>

                <label class="chose-questionnaire">
                    <a href="">1、设计问卷</a>
                    <a href="" class="active">2、发布问卷</a>
                </label>
                <hr class="crumbLine">
            </div>

            <div class="datePush margintTop">
            
	            <div class="right-center">
				   <div class="formBox" style="width: 100%">
				        <div class="form-item">
				            <label class="form-item-label">组织架构：</label>
				            <div class="form-item-editbox">
				                <a class="buttondefault button-mask SID-add">添加</a><a class="buttondefault button-mask SID-depclear">清空</a>
				                <div class="pop-rankbox marginTop10">
				                    <ul class="rank-list SID-deplist">
				                    </ul>
				                </div>
				            </div>
				        </div>   
				        <div class="form-item">
				            <label class="form-item-label">用户：</label>
				            <form id="subForm1" onkeypress="if(event.keyCode==13||event.which==13){return false;}">
				            <div class="form-item-editbox">
				                <div class="pop-searchbar">
				                    <input type="text" placeholder="请输入姓名" name="userName" class="SID-search-user1 SID-suInput"/>
				                    <a class="fhicon-search"></a>
				                </div>
				                <div class="pop-rankbox pop-rankbox-maskColor" style ="display:none">
				                   <ul class="rank-userbox SID-userlist">
				                   </ul>
				                </div>
				                <div class= "pop-rankbox">
				                	<ul class="rank-list SID-userbox SID-visiblebox">
				                	</ul>
				                </div>
				                <div class="form-item-btmtip">
				                    <span class="fhicon-tip"></span>
				                    <div class="tip-text">您可将本配置指定到相关的部门及人员上</div>
				                </div>
				            </div>
				            </form>
				        </div>
				    </div>
				</div>
            
            
            
            
            
            
            
                <hr class="crumbLine">
                <ul>
                    <li>
                        <input type="checkbox"></input>
                        <label>开始收集日期：</label>
                        <input type="text" class="input-text"></input>
                    </li>
                    <li>
                        <input type="checkbox"></input>
                        <label>截止收集日期：</label>
                        <input type="text" class="input-text"></input>
                    </li>
                    <li>
                        <input type="checkbox"></input>
                        <label>推送给用户</label>
                    </li>
                </ul>
            </div>

            <div class="form-btns form-btns-middle">
                <a class="buttonblue SID-prev-btn">上一步</a><a class="buttondefault SID-submit-btn">立即发布</a>
            </div>

        </div>        
    </div>
</div>