<% var data=data %>
<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-BtnPlanDetailBack" href="javascript:void(0)">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center"><%=data.roomName%></h1>
    </div>
</header>
<article>
	<div class="group">
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">预定人</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.reservedUserName%>
                </div>
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">联系方式</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.phoneNum%>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">预定日期</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.date%>
                </div>
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">开始时间</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.starttime%>
                </div>
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">结束时间</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.endtime%>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">会议名称</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.meetingName%>
                </div>
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">会议人数</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.participantsNum%>
                </div>
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">会议备注</label>
            <div class="inputbox-right inputbox">
                <div class="input-text text-right color-placeholder" style="padding:15px 12px;">
                    <%=data.reservedRemark%>
                </div>
            </div>
        </div>
    </div>
    <%if(data.isApprove=="1"){%>
    <div class="box" style="margin-top: 20px;">
        <div style="width:50%">
            <a class="block button cancel SID-approve-submit" data-type="0" data-reservedId="<%=data.reservedId%>" style="margin:0 12px;border-radius: 4px;">不同意</a>
        </div>
        <div style="width: 50%">
            <a class="block button submit SID-approve-submit" data-type="1" data-reservedId="<%=data.reservedId%>" style="margin:0 12px;border-radius: 4px;">同意</a>
        </div>
    </div>
    <%}%>
    <%if(data.isApprove=="2" && data.approveResult == "0"){%>
    <div class="box" style="margin-top: 20px;">
        <a class="block button cancel noclick" style="width:250px;border-radius: 4px;margin:0 auto;">已拒绝</a>
    </div>
    <%} else if(data.isApprove=="2" && data.approveResult == "1"){%>
    <div class="box" style="margin-top: 20px;">
        <a class="block button submit noclick" style="width:250px;border-radius: 4px;margin:0 auto;">已同意</a>
    </div>
    <%}%>
</article>