<style>
.statistic-mod .search-label { padding-right: 0px; }
.statistic-mod .padding-left { padding-left: 84px; }
.statistic-mod .search-label select { margin-left: 0px; }
</style>
<form id="formMsg" onkeypress="if(event.keyCode==13||event.which==13){return false;}">
<div class="statistic-mod ser" style="display:none;">
    <div class="search-list">
        <label class="search-label">设置筛选条件后，统计图中可展现符合要求的数据</label>
        <label class="search-label right"><a class="buttonblue SID-data-stat-export">导出统计结果</a></label>
    </div>
    <div class="search-list">
        <label class="search-label">按回答筛选：</label>
        <label class="search-label"><a class="buttonblue SID-select-where-add">新增一行</a></label>
    </div>
    <div class="search-list padding-left SID-search-btn-div">
	    <a class="buttonblue SID-data-stat-search">确定</a>
	    <a class="buttonblue SID-data-stat-reset">重置</a>
    </div>
<hr class="crumbLine" />
</div>
</form>
<div class="SID-chart-question-div">
</div>