<style>
.blockInside { margin: 51px 0px 41px 0px; }
.blockInside .pop-cons { margin: 0px 20px; }
.blockInside .tablist { margin: 10px 20px; }
.blockInside .SID-tab-container { margin: 0px 20px; }
</style>
<div class="blockInside">
    <div class="pop-cons">
        <div class="formBox">

            <div class="crumb crumb-postion">
                	问卷调研 &gt; <span class="SID-nav"></span> &gt; <span>答案数据</span>
                <label class="chose-questionnaire SID-survey-info">
                    <span>当前状态：<span>1</span>  问卷在线时长：<span>2</span>  已收集有效问卷：<span>3份</span></span>
                </label>
                <hr class="crumbLine">
            </div>
        </div>
    </div>
    <ul class="tablist">
        <li class="active"><a data-tab-id="0" class="SID-tab">数据统计</a></li>
        <li><a data-tab-id="1" class="SID-tab">原始数据</a></li>
    </ul>
    <div class="SID-tab-container" tab-content-id="0">
    <div class="SID-roomstat-snippet"></div>
    </div>
    <div class="SID-tab-container hide" tab-content-id="1">
    <div class="SID-userrecord-snippet"></div>
    </div>
</div>