<%if(data.length=="0"){%>
    <%=noDataHTML%>
<%}else{%>
<ul class="list">
    <% for(var i=0,roomData; roomData=data[i++];) { %>
        <li class="SID-Index-Li list-li underline" data-meetingId="<%=roomData.meetingId %>">
            <div class="list-container">
                <div class="list-row app-rowTitle">
                    <div class="list-title nowrap" style="max-width: 90%;">
                        <%=roomData.meetingName%>
                    </div>
                    <% if(roomData.isSelfCreate=='1'){ %>
                    <i class="icon-manager color-warn size20" style="margin-left: 4px;margin-top: -2px;"></i>
                    <% } %>
                </div>
                <div class="list-row bjyh-list-row">
                    <i class="list-icon icon-time color-primary" style="margin-bottom: -2px;"></i>
                    <p class="list-font color-primary">
                       <%=roomData.beginTimeStr%> ~ <%=roomData.endTimeStr%>
                    </p>
                </div>
                <div class="list-row bjyh-list-row">
                    <i class="list-icon icon-position color-primary" style="margin-bottom: -2px;"></i>
                    <p class="list-font">
                        <%=roomData.address%>
                    </p>
                </div>
            </div>
            <div>
            <% if(roomData.status=='a'){ %>
                <!--待审批-->
                <div class="doughtut yellow rotate15" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">待审批</div>
                </div>
            <% }else if(roomData.status=='r'){ %>
                <!--未批准-->
                <div class="doughtut red rotate360" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">未批准</div>
                </div>
            <% }else if(roomData.status=='1'){ %>
                <!--准备中-->
                <div class="doughtut green rotate45" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">准备中</div>
                </div>
            <% }else if(roomData.status=='2'){ %>
                <!--进行中-->
                <div class="doughtut orange rotate315" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">进行中</div>
                </div>
            <% }else if(roomData.status=='3'){ %>
                <!--已结束-->
                <div class="doughtut blue rotate360" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">已结束</div>
                </div>
            <% }else if(roomData.status=='4'){ %>
                <!--已取消-->
                <!-- <div class="doughtut blue rotate360" style="margin:0 auto;">
                    <div class="doughtut-wrapper left">
                        <div class="doughtut-circle left"></div>
                    </div>
                    <div class="doughtut-wrapper right">
                        <div class="doughtut-circle right"></div>
                    </div>
                    <div class="doughtut-label">已取消</div>
                </div> -->
            <% } %>
            </div>
        </li>
    <% } %>
</ul>
<%}%>