<config>
  <!-- 应用ID -->
  <appid>feedback</appid>
  <!-- 应用名称 -->
  <appname>在线反馈</appname>
  <!-- 应用版本 -->
  <version>${project.version}.${env.BUILD_NUMBER}</version>
  <!-- 应用描述 -->
  <description>在线反馈-轻应用</description>
  <!-- 启动页 -->
  <htmlname>index.html</htmlname>
  <!-- 是否隐藏标题 1 隐藏 0 不隐藏-->
  <hiddentitlebutton>1</hiddentitlebutton>
  <!-- 是否隐返回 1 隐藏 0 不隐藏-->
  <hiddenbackbutton>1</hiddenbackbutton>
  <!-- 是否隐藏关闭 1 隐藏 0 不隐藏-->
  <hiddenclosebutton>1</hiddenclosebutton>
  <!-- 是否隐藏更多 1 隐藏 0 不隐藏-->
  <hiddenmenubutton>1</hiddenmenubutton>
  <logo>logo.png</logo> 
</config>