<% for(var i=0,restartStatusList; restartStatus=restartStatusList[i++];) { 
	if(restartStatus.status == "up"){
	%>
	<!-- <div class="restartStatusResult"><label class="form-item-label restartStatusName"><%=restartStatus.appName%></label><label class="restartStatusExtend">http://<%=restartStatus.ip%>:<%=restartStatus.port%></label><img class="restartStatusImg" src="images/icon/icon-yes.png"/><label class="restartStatus" style="width:12%">已启动</label></div> -->
	<tr class="restartStatusResult">
        <td class="restartStatusName" width="33%"><%=restartStatus.appName%></td>
        <td class="restartStatusExtend" width="46%">http://<%=restartStatus.ip%>:<%=restartStatus.port%></td>
        <td class="" width="20%"><img class="restartStatusImg" src="images/icon/icon-yes.png"/><label class="restartStatus">已启动</label></td>
    </tr>
<%}else if(restartStatus.status == "fail"){%>
	<!-- <div class="restartStatusResult"><label class="form-item-label restartStatusName"><%=restartStatus.appName%></label><label class="restartStatusExtend">http://<%=restartStatus.ip%>:<%=restartStatus.port%></label><img class="restartStatusImg" src="images/main/close_on.png"/><label class="restartStatus" style="width:12%;color:red;">重启失败</label><br/><span style="color:red">服务重启失败,请检查服务运行状态.</span></div> -->
	<tr class="restartStatusResult">
        <td class="restartStatusName" width="33%"><%=restartStatus.appName%></td>
        <td class="restartStatusExtend" width="46%">http://<%=restartStatus.ip%>:<%=restartStatus.port%></td>
        <td class="" width="20%"><img class="restartStatusImg" src="images/main/close_on.png"/><label class="restartStatus">重启超时</label><br/><span style="color:red">服务重启时间超时,请检查服务运行状态.</span></td>
    </tr>
<%}else{%>
	<!-- <div class="restartStatusResult"><label class="form-item-label restartStatusName"><%=restartStatus.appName%></label><label class="restartStatusExtend">http://<%=restartStatus.ip%>:<%=restartStatus.port%></label><img class="restartStatusImg" src="images/icon/loading.gif"/><label class="restartStatus" style="width:12%">重启中</label></div> -->
	<tr class="restartStatusResult">
        <td class="restartStatusName" width="33%"><%=restartStatus.appName%></td>
        <td class="restartStatusExtend" width="46%">http://<%=restartStatus.ip%>:<%=restartStatus.port%></td>
        <td class="" width="20%"><img class="restartStatusImg" src="images/icon/loading.gif"/><label class="restartStatus">重启中</label></td>
    </tr>
<%}}%>

