<div class="base-info" style="margin: 10px;">
	<table class="stable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="tabletit" width="33%">服务名称</td>
        <td class="tabletit" width="46%">服务地址</td>
        <td class="tabletit" width="20%">服务状态</td>
    </tr>
</table>
<table class="stable SID-restartstatusBox" style="border-top-width: 0" width="100%" border="0" cellspacing="0" cellpadding="0">
</table>
<table class="stable SID-disconnectedBox" style="border-top-width: 0" width="100%" border="0" cellspacing="0" cellpadding="0">
</table>
</div>
