<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="0">姓名</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="1">性别</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="2">年龄段</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="3">手机</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="4">email</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="5">职业</a>
<a class="whiteBlue SID-commonQuestion-btn" data-common-question-type="6">行业</a>