<div class="fixed-header header-questionnaire SID-header-snippent">
	<div class="header-logoarea" style="padding-top: 0px;">
    	<img src="logo.png"/><label>问卷调查</label>
    </div>
    <div class="header-info">
    </div>
</div>
<div class="topSwitch"></div>
<!--左侧-->
<div class="fixed-side-left">
	<ul class="nav-category SID-menu-snippet">
    </ul>
</div>

<!--右侧-->
<div class="fixed-center mll-center-questionnaire">
	<div class="SID-mysurvey-snippent"></div>
	<div class="SID-room-snippent"></div>
	<div class="SID-reserved-snippent"></div>
	<div class="SID-children-snippent"></div>
</div>

<!--底部-->
<div class="fixed-footer SID-footer-snippent">
    <span>Copyright◎2016南京烽火星空通信发展有限公司 苏ICP备11014881号-5</span>
</div>
<script>
  //  $(".fixed-center").load("ued-html/meeting-maintenance/maintenance.html");  //会议室维护
</script>