<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">会议详情</h1>
        <a class="titlebar-button titlebar-right" id="ID-MeetDetail-Menu">
            <i class="icon icon-menudot"></i>
        </a>
    </div>
    <div class="app-tabbarBox" id="ID-MeetDetail-Tabbar"></div>
</header>
<article style="top:96px">
    <div class="swiper-container" id="ID-MeetDetail-Pages" style="height: 300px;"></div>
</article>
<!--菜单弹出框-->
<div class="app-popover" id="ID-MeetDetail-MenuPop">
</div>