<div class="outmain-cons">
    <div class="main-cons">
        <div class="formBox">
        	<div class="form-item">
                <label class="form-item-label">订单编号：</label>
                <div class="form-item-editbox grey"><%=order.orderCode%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">酒店名称：</label>
                <div class="form-item-editbox grey"><%=order.hotelName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">酒店地址：</label>
                <div class="form-item-editbox grey"><%=order.hotelAddr%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">入住时间：</label>
                <div class="form-item-editbox grey"><%=order.checkInTimeString%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">离店时间：</label>
                <div class="form-item-editbox grey"><%=order.checkInTimeString%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">入住天数：</label>
                <div class="form-item-editbox grey"><%=order.roomNight%>（晚）</div>
            </div>
            <div class="form-item">
                <label class="form-item-label">房间类型：</label>
                <div class="form-item-editbox grey"><%=order.roomTypeName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">房间数量：</label>
                <div class="form-item-editbox grey"><%=order.roomCount%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">房价总额：</label>
                <div class="form-item-editbox grey"><%=order.totalAmount%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">入住人：</label>
                <div class="form-item-editbox grey"><%=order.guestsName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">联系电话：</label>
                <div class="form-item-editbox grey"><%=order.contactPhone%></div>
            </div>
        </div>
    </div>
</div>
