<div class="fixed-header SID-header-snippent">
	<div class="header-logoarea">
    	<img src="logo.png"/>
    </div>
    <div class="header-info">
        <a class="top-home SID-welcome"><span class="fhicon-home"></span></a>
    </div>
</div>

<!--左侧-->
<div class="fixed-side-left">
	<ul class="nav-category SID-menu-snippet">
    </ul>
</div>

<!--右侧-->
<div class="fixed-center SID-main-container-snippet">
	<div class="SID-welcome-snippent"></div>
	<div class="SID-room-snippent"></div>
	<div class="SID-reserved-snippent"></div>
	<div class="SID-privilege-snippent"></div>
	<div class="SID-statistics-snippent"></div>
</div>

<!--底部-->
<div class="fixed-footer SID-footer-snippent">
    <span>Copyright◎2016南京烽火星空通信发展有限公司 苏ICP备11014881号-5</span>
</div>
<script>
  //  $(".fixed-center").load("ued-html/meeting-maintenance/maintenance.html");  //会议室维护
</script>