<div class="book-center">
     <div class="search-modle hide">
         <div class="search-mod">
             <ul class="search-list">
                 <li class="search-item"><label class="search-label">预定人：</label><input type="text" class="SID-displayName" /></li>
                 <li class="search-item"><label class="search-label">部门：</label><input type="text" class="SID-depName" /></li>
                 <li class="search-item"><label class="search-label">预定日期：</label><input type="text" class="choose-date SID-date" name="from" id="from" readonly="readonly"/></li>
             </ul>
         </div>
         <div class="search-button"><a class="SID-search">查询</a><a class="SID-clearSearch">清空</a></div>
     </div>
     <!-- 表格内容 -->
     <div  class="tab-content">
         <!-- 里面table内容根据需要替换 -->
         <table id="grid-table" width="100%" class="common-table"></table>
     </div>
 </div>