@font-face {
  font-family: 'fhicon';
  src:  url('fonts/fhicon.eot?9glcoc');
  src:  url('fonts/fhicon.eot?9glcoc#iefix') format('embedded-opentype'),
    url('fonts/fhicon.ttf?9glcoc') format('truetype'),
    url('fonts/fhicon.woff?9glcoc') format('woff'),
    url('fonts/fhicon.svg?9glcoc#fhicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fhicon-"], [class*=" fhicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fhicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fhicon-blacklist:before {
  content: "\e900";
}
.fhicon-whitelist:before {
  content: "\e901";
}
.fhicon-active:before {
  content: "\e902";
}
.fhicon-active-cancel:before {
  content: "\e903";
}
.fhicon-add:before {
  content: "\e904";
}
.fhicon-add2:before {
  content: "\e905";
}
.fhicon-add3:before {
  content: "\e906";
}
.fhicon-adhibition:before {
  content: "\e907";
}
.fhicon-adhibition2:before {
  content: "\e908";
}
.fhicon-admin:before {
  content: "\e909";
}
.fhicon-admin2:before {
  content: "\e90a";
}
.fhicon-admin3:before {
  content: "\e90b";
}
.fhicon-analyze:before {
  content: "\e90c";
}
.fhicon-android:before {
  content: "\e90d";
}
.fhicon-app:before {
  content: "\e90e";
}
.fhicon-arrowD:before {
  content: "\e90f";
}
.fhicon-arrowD2:before {
  content: "\e910";
}
.fhicon-arrowL:before {
  content: "\e911";
}
.fhicon-arrowL2:before {
  content: "\e912";
}
.fhicon-arrowR:before {
  content: "\e913";
}
.fhicon-arrowR2:before {
  content: "\e914";
}
.fhicon-arrowU:before {
  content: "\e915";
}
.fhicon-arrowU2:before {
  content: "\e916";
}
.fhicon-back:before {
  content: "\e917";
}
.fhicon-bell:before {
  content: "\e918";
}
.fhicon-bomb:before {
  content: "\e919";
}
.fhicon-book:before {
  content: "\e91a";
}
.fhicon-circle:before {
  content: "\e91b";
}
.fhicon-close:before {
  content: "\e91c";
}
.fhicon-close2:before {
  content: "\e91d";
}
.fhicon-close3:before {
  content: "\e91e";
}
.fhicon-code2:before {
  content: "\e91f";
}
.fhicon-company-child:before {
  content: "\e920";
}
.fhicon-company-parent:before {
  content: "\e921";
}
.fhicon-computer:before {
  content: "\e922";
}
.fhicon-copy:before {
  content: "\e923";
}
.fhicon-danger:before {
  content: "\e924";
}
.fhicon-data:before {
  content: "\e925";
}
.fhicon-delete:before {
  content: "\e926";
}
.fhicon-delete2:before {
  content: "\e927";
}
.fhicon-department:before {
  content: "\e928";
}
.fhicon-device-policy:before {
  content: "\e929";
}
.fhicon-doc-copy:before {
  content: "\e92a";
}
.fhicon-doc-detail:before {
  content: "\e92b";
}
.fhicon-doc-gongxiang:before {
  content: "\e92c";
}
.fhicon-doc-move:before {
  content: "\e92d";
}
.fhicon-doc-share:before {
  content: "\e92e";
}
.fhicon-download:before {
  content: "\e92f";
}
.fhicon-earth:before {
  content: "\e930";
}
.fhicon-edit:before {
  content: "\e931";
}
.fhicon-equipment:before {
  content: "\e932";
}
.fhicon-equipment2:before {
  content: "\e933";
}
.fhicon-equipment3:before {
  content: "\e934";
}
.fhicon-eye:before {
  content: "\e935";
}
.fhicon-eye-close:before {
  content: "\e936";
}
.fhicon-file:before {
  content: "\e937";
}
.fhicon-file2:before {
  content: "\e938";
}
.fhicon-folder:before {
  content: "\e939";
}
.fhicon-h5:before {
  content: "\e93a";
}
.fhicon-home:before {
  content: "\e93b";
}
.fhicon-img_user:before {
  content: "\e93c";
}
.fhicon-inlay:before {
  content: "\e93d";
}
.fhicon-ios:before {
  content: "\e93e";
}
.fhicon-jg:before {
  content: "\e93f";
}
.fhicon-jigou:before {
  content: "\e940";
}
.fhicon-location:before {
  content: "\e941";
}
.fhicon-location2:before {
  content: "\e942";
}
.fhicon-lock:before {
  content: "\e943";
}
.fhicon-lock2:before {
  content: "\e944";
}
.fhicon-lock3:before {
  content: "\e945";
}
.fhicon-mail:before {
  content: "\e946";
}
.fhicon-mail-lock:before {
  content: "\e947";
}
.fhicon-mail-unactive:before {
  content: "\e948";
}
.fhicon-mobile:before {
  content: "\e949";
}
.fhicon-mobile-no:before {
  content: "\e94a";
}
.fhicon-mobile-ok:before {
  content: "\e94b";
}
.fhicon-mobile-personal:before {
  content: "\e94c";
}
.fhicon-namelist:before {
  content: "\e94d";
}
.fhicon-namelist-add:before {
  content: "\e94e";
}
.fhicon-namelist-del:before {
  content: "\e94f";
}
.fhicon-narrowL3:before {
  content: "\e950";
}
.fhicon-narrowR3:before {
  content: "\e951";
}
.fhicon-ok:before {
  content: "\e952";
}
.fhicon-password:before {
  content: "\e953";
}
.fhicon-pencil:before {
  content: "\e954";
}
.fhicon-pencil2:before {
  content: "\e955";
}
.fhicon-pencil3:before {
  content: "\e956";
}
.fhicon-pic:before {
  content: "\e957";
}
.fhicon-property:before {
  content: "\e958";
}
.fhicon-puxue-add:before {
  content: "\e959";
}
.fhicon-puxue-application-delete:before {
  content: "\e95a";
}
.fhicon-puxue-cancellation:before {
  content: "\e95b";
}
.fhicon-puxue-change:before {
  content: "\e95c";
}
.fhicon-puxue-circle:before {
  content: "\e95d";
}
.fhicon-puxue-clear-password:before {
  content: "\e95e";
}
.fhicon-puxue-delete:before {
  content: "\e95f";
}
.fhicon-puxue-device-lost:before {
  content: "\e960";
}
.fhicon-puxue-dissolution:before {
  content: "\e961";
}
.fhicon-puxue-double-circle:before {
  content: "\e962";
}
.fhicon-puxue-down:before {
  content: "\e963";
}
.fhicon-puxue-edit:before {
  content: "\e964";
}
.fhicon-puxue-enterprise-data:before {
  content: "\e965";
}
.fhicon-puxue-equipment-bell:before {
  content: "\e966";
}
.fhicon-puxue-equipment-information:before {
  content: "\e967";
}
.fhicon-puxue-equipment-location:before {
  content: "\e968";
}
.fhicon-puxue-equipment-log:before {
  content: "\e969";
}
.fhicon-puxue-equipment-notification:before {
  content: "\e96a";
}
.fhicon-puxue-equipment-sign:before {
  content: "\e96b";
}
.fhicon-puxue-equipment-update:before {
  content: "\e96c";
}
.fhicon-puxue-exit:before {
  content: "\e96d";
}
.fhicon-puxue-explain:before {
  content: "\e96e";
}
.fhicon-puxue-locking-device:before {
  content: "\e96f";
}
.fhicon-puxue-menu:before {
  content: "\e970";
}
.fhicon-puxue-my-application:before {
  content: "\e971";
}
.fhicon-puxue-my-equipment:before {
  content: "\e972";
}
.fhicon-puxue-my-settings:before {
  content: "\e973";
}
.fhicon-puxue-notification-announcement:before {
  content: "\e974";
}
.fhicon-puxue-open:before {
  content: "\e975";
}
.fhicon-puxue-prompt:before {
  content: "\e976";
}
.fhicon-puxue-search:before {
  content: "\e977";
}
.fhicon-puxue-stop:before {
  content: "\e978";
}
.fhicon-puxue-success:before {
  content: "\e979";
}
.fhicon-puxue-upper:before {
  content: "\e97a";
}
.fhicon-refresh:before {
  content: "\e97b";
}
.fhicon-rule:before {
  content: "\e97c";
}
.fhicon-safe:before {
  content: "\e97d";
}
.fhicon-scope:before {
  content: "\e97e";
}
.fhicon-search2:before {
  content: "\e97f";
}
.fhicon-set:before {
  content: "\e980";
}
.fhicon-set2:before {
  content: "\e981";
}
.fhicon-setting-super:before {
  content: "\e982";
}
.fhicon-sh:before {
  content: "\e983";
}
.fhicon-sj:before {
  content: "\e984";
}
.fhicon-sprite:before {
  content: "\e985";
}
.fhicon-sq:before {
  content: "\e986";
}
.fhicon-star:before {
  content: "\e987";
}
.fhicon-statistics:before {
  content: "\e988";
}
.fhicon-subscription:before {
  content: "\e989";
}
.fhicon-terminal:before {
  content: "\e98a";
}
.fhicon-tip:before {
  content: "\e98b";
}
.fhicon-trash:before {
  content: "\e98c";
}
.fhicon-trusteeship:before {
  content: "\e98d";
}
.fhicon-uniE1AA:before {
  content: "\e98e";
}
.fhicon-uniE1AD:before {
  content: "\e98f";
}
.fhicon-unlock:before {
  content: "\e990";
}
.fhicon-user:before {
  content: "\e991";
}
.fhicon-userdeleting:before {
  content: "\e992";
}
.fhicon-view:before {
  content: "\e993";
}
.fhicon-window:before {
  content: "\e994";
}
.fhicon-xj:before {
  content: "\e995";
}
