<div class="blockInside">
    <div class="crumb">权限管理</div>
    <div class="tree-container tree-container-nobutton">
        <div class="searchBlock">
            <div class="search-toggleBar">
            </div>
        </div>
        <!-- 会议室主体 -->
        <div class="book-container">
            <!-- 左侧部分 -->
            <div class="book-aside SID-left-aside">
                
            </div>
            <!-- 右侧部分 -->
            <div class="right-main SID-right-aside">       
               
            </div>
            <!-- 右侧结束 -->
        </div>
        <!-- 会议室主体结束 -->
    </div>    
</div>