<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-back" href="javascript:mplus.closeWindow()">
            <i class="icon fhicon-back size20"></i>
        </a>
        <h1 class="titlebar-title text-center">问卷调查</h1>
        <div class="titlebar-right">
        </div>
    </div>
	<div class="topBar">
        <ul id="ID-Tabbar" class="tabbar tabbar-rect" style="width:50%;">
            <li class="SID-Tabbar tab active" data-index="0">
                <label class="tab-label">所有问卷</label>
            </li>
            <li class="SID-Tabbar tab" data-index="1">
                <label class="tab-label">我参与的</label>
            </li>
        </ul>
    </div>
</header>
<article style="top:98px;">
    <div class="slider-container" id="ID-Pages" style="height: 300px;">
	    <div class="slider-wrapper">
		    <div class="slider-slide">
		        <!--第一页:start-->
			    <div class="surveyList" style="">
			        <ul class="list SID-Index-List"></ul> 
			    </div>
		        <!--第一页:end-->
		    </div>
		    <div class="slider-slide">
		        <!--第二页:start-->
			    <div class="surveyList" style="">
			        <ul class="list SID-Index-List"></ul>
			    </div>
		        <!--第二页:end-->
		    </div>
	    </div>
    </div>
</article>
