<div class="q-preview-title">
	<a href="javascript:void(0);" class="q-preview-close" onclick="window.close();">关闭</a>
    <div class="q-preview-tab">
        <a href="javascript:void(0);" class="SID-client-btn"><span class="fhicon-mobile active"></span><label class="active">手机预览</label></a>
        <a href="javascript:void(0);" class="SID-web-btn"><span class="fhicon-computer"></span><label>电脑预览</label></a>
    </div>

	<div class="q-preview-phone">
        <div class="q-preview-main">
	        <iframe src="makesurvey.html#ID-PageMeetDetail/<%=surveyId%>" style="width:100%;height:100%;"></iframe>
        </div>
    </div>

</div>
