section {
	background:#F4F4F4;
}
.content {
	background-color: #fff;
	border-bottom: 1px solid #E8E8E8;
}
//titlebar
.search-bar {
	 background-color:#dddddd;
}
//tabbar 
.tabbar.animate-oneline {
	.tab .tab-label {
		font-size: 16px;
	}
	.tab::before {
		height:2px;
		width:60%;
		left:50%;
		-webkit-transform:translateX(-50%) scale3d(0, 1, 1);
	}
	.tab.active::before {
		-webkit-transform:translateX(-50%) scale3d(1, 1, 1);
	}
}
//no data
.no-data {
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	.nodata-content {
		color:#ccc;
		text-align:center;
		padding-bottom: 100px;
		img {
			width:200px;
			margin-bottom:32px;
		}
	}
}
//poll-list
.card {
	overflow: hidden;
	position: relative;
	.img-main {
		width:100%;
		height: 137px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
	}
	.poll-info {
		padding:12px;
		position: relative;
		.title {
			display: inline-block;
			font-weight:400;
			width:60%;
			margin:0;
			padding: 5px 0 12px 0;
			line-height:24px;
			font-size: 16px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			.dot {
				display: inline-block;
				border-radius: 10px;
				margin:0 8px 5px 0;
				height:4px;
				width:4px;
				background:#4587F6;
			}
		}
		.end-date {
			font-size:14px;
			color:#5074B0;
			position: absolute;
			right:12px;
			top:20px;
		}
		.progress-bar {
			width:60%;
			margin:0;
			.text {
				color:#fff;
				font-size: 12px;
				margin-top: -17px;
				a {
					color:#fff;
				}
				
			}
		}
		.status {
			position: absolute;
			top:52px;
			right:14px;
			font-size: 14px;
		}
	}
	.btn-delete {
		position: absolute;
		top:0;
		right: 0;
		height:32px;
		width:32px;
		background:rgba(0,0,0,0.5);
		color:#fff;
		border-top-right-radius:4px;
		text-align: center;
		.icon-close {
			position: absolute;
			top:3px;
			left:3px;
			font-size:24px;
		}
	}
}

.load-more {
	line-height: 50px;
	color: #cccccc;
	text-align: center;
	width:100%;
	position: relative;
	.loading {
		width: 20px;
		height: 20px;
		box-shadow: inset 0 0 0 2px #36acf4;
		border-radius: 50%;
		position:relative;
		top:4px;
		left:-12px;
		-webkit-transform:translate(0,0);
		margin:0 0;
		display: inline-block;
		&:before, &:after {
			position: absolute;
			content: '';
			width: 12px;
			height: 22px;
			background:#F2F2F2;
		}

		&:before {
			top: -1px;
			left: -1px;
			-webkit-transform-origin: 100% 50%;
			-webkit-animation: loading 2s infinite ease 1.5s;
		}
		&:after {
			top: -1px;
			left: 50%;
			-webkit-transform-origin: 0 50%;
			-webkit-animation: loading 2s infinite ease;
		}
	}
}

.popup-delete {
	width:232px;
	border-radius:4px;
	background:#fff;
	margin:0 auto;
	text-align: center;
	display: none;
	overflow: hidden;
	.content {
		padding:32px 18px;
		border-bottom:1px solid #E8E8E8;
		.warning {
			width:100%;
			display: block;
			line-height: 40px;
			font-size: 20px;
		}
		.text {
			width:100%;
			display: block;
		}
		.warning-face {
			margin-top: 12px;
			width:56px;
			height:56px;
		}
	}
	.popup-handler {
		a:nth-of-type(2) {
			border-color:#E8E8E8;
		}
		a {
			background-color:#F8F8F8;
			color:#333;
			&:active {
				background-color:#4587F7;
				color:#fff;
				opacity: 1;
			}
		}
	}
}
//add poll 页面
.poll-form {
	.content {
		margin-bottom: 12px;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}
}
.poll-title {
	height:48px;
	border-bottom: 1px solid #e8e8e8;
	.list-icon {
		width:14px;
		height:14px;
		margin:0 8px;
	}
	input {
		border:0px;
		padding-right: 12px;
		padding-top: 14px;
	}
}
.poll-content {
	padding-left:30px;
	padding-right: 12px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	textarea {
		width:100%;
		height:100px;
		border:none;
		resize: none;
		margin: 12px 0 36px 0;
		padding:0;
		position: relative;
	}
	.count {
		position:absolute;
		top:120px;
		right:12px;
		color: #aaa;
	}
	.icon {
		position: absolute;
		top:148px;
		color:#aaa;
		right:12px;
		font-size: 24px;
	}
	.main-pic {
		width:90%;
		float: left;
		min-height: 40px;
		max-height: 150px;
		border-radius: 4px;
		overflow: hidden;
		img {
			width:100%;
			margin-bottom: 12px;
		}
	}
}

.listitem-switch {
	height:48px;
	border-bottom: 1px solid #e8e8e8;
	padding:0 12px 0 30px;
	line-height: 48px;
	.switch {
		float:right;
		margin-top: 8px;
	}
}
.listitem-select {
	height:48px;
	border-bottom: 1px solid #e8e8e8;
	padding:0 12px 0 30px;
	line-height: 48px;
	position: relative;
	&.selection-num {
		display: none;
	}
	select{
		float:right;
		border:0;
		width:50%;
		height:48px;
		direction: rtl;
		font-size: 14px;
		margin-right: 24px;
	}
	input[type=date]{
		float:right;
		border:0;
		width:50%;
		text-align: right;
		padding-top:14px;
		margin-right: 24px;
	}
	span{
		float:right;
		width:75%;
		text-align: right;
		margin-right: 24px;
		color:#aaa;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
	}
	.icon-arrowright {
		position: absolute;
		right:12px;
		top:16px;
		color:#aaa;
	}
}

.selection-list {
	.selection {
		position: relative;
		height:48px;
		.dot {
			display: inline-block;
			border-radius: 10px;
			margin:22px 14px 5px 12px;
			height:4px;
			width:4px;
			background:#4587F6;
		}
		input{
			border:none;
			padding-top:14px;
			padding-right:12px;
			height:23px;
			border-bottom: 1px solid #e8e8e8;
			border-radius: 0;
		}
		.icon {
			color:#aaa;
			font-size: 24px;
			padding:12px 12px 4px 12px;
			border-bottom: 1px solid #e8e8e8;
			&.icon-rdocancel-fill {
				color:#F31312;
			}
			&.icon-trash {
				text-align: center;
				padding-left: 12px;
				background-color:#F31312;
				color:#fff;
				position: absolute;
				right:0;
				top:0;
				height:31px;
				&:active {
					background-color: #FA6455;
				}
			}
		}
		.img-container {
			height:48px;
			width:48px;
			position: absolute;
			right:48px;
			top:0;
			background-size: cover;
			background-position: center;
		}
		.animated {
			animation-duration:200ms;
		}
	}
}
.add-selection {
	height:56px;
	line-height: 56px;
	color:#4587F7;
	text-align: center;
	width: 100%;
}
.tab-container {
	background:#fff;
	display: block;
	margin:0;
	padding:12px;
	border-bottom: 1px solid #e8e8e8;
	.rectbar {
		margin: 0 auto;
		.tab {
			width:100px;
		}
		.active {
			background:#4587F7;
			.tab-label {
				color:#fff;
			}
		}
	}
}
.tree {
	.treetitle {
		position: relative;
		&:active {
			background: #ffffff;
		}
		
		.icon-persons {
			background-color:#FFC02C;
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			font-size: 24px;
			color:#fff;
			border-radius: 100%;
			text-align: center;
			line-height: 32px;
			margin-left: 4px;
			margin-right: -4px;
		}
		&.active {
			color:#4587F7;
			.icon-persons{
				background-color:#4587F7;
			}
		}
		.icon-rdoadd {
			position: absolute;
			right:12px;
			top:0px;
			font-size:24px;
			color:#aaa;
		}
		input[type=checkbox] {
			display: none;
		}	
	}
}
.selection-box {
	display: none;
	background-color:#DDDCE1;
	height:48px;
	overflow-x:scroll;
	white-space: nowrap;
	.selected-group {
		border-radius:8px;
		padding:8px 8px;
		margin:0 0 0 8px;
		background:#fff;
		color:#2F5489;
		margin-top: 5px;
		display: inline-block;
		.icon-clear-fill {
			color:#aaa;
			margin-left:5px;
		}
	}
}
// poll 
.grid-title{
	position: absolute;
	bottom:0;
	left: 0;
	box-sizing:border-box;
	padding:0 6px;
	width:100%;
	text-align:left;
	min-height:60px;
	background-color:rgba(0,0,0,.5);
	color:white;
}
/*无图片*/
.list span.checkbox:before{
	font-family: "iconfont";
	display:inline-block;
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	content: "\e9dd";
	color: #bababa;
}
.list span.checkbox.active:before{
	content: "\e9de";
	color: #4587f7;
}
/*有图片*/
.grid.thumbnail li>a{
	min-height: 280px;
	background-size: cover;
	background-position: center;
}
.grid.thumbnail span.checkbox{
	display:inline-block;
	font-size:32px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 100%;
	background-size:32px auto;
	background-position:center top;
	background-image: url(../img/form/cbo.png);
}
.grid.thumbnail span.checkbox.active{
	background-position:center bottom;
}
.grid.thumbnail span.checkbox{
	position: absolute;
	top:5px;
	right:5px;
}
/*result 页面*/
.list li.top-result {
	background-color:#EBE8E3;
	margin:8px 0;
	.result-img{
		max-width: 140px;
		width:35%; 
		height:200px; 
		background-size:cover; 
		background-position:center;
	}
	.crown {
		width:56px;
		margin:12px 0 8px 0;
	}
	h1 {
		font-weight: 400;
		font-size: 20px;
	}
	.progress-bar {
		width: 100%;
		margin: 12px 0;

	}
	.selection-text {
		text-align: left;
		font-size: 12px;
	}
}
.list li.result-list {
	position: relative;
	.result-img{
		max-width: 56px;
		width:56px; 
		height:56px; 
		background-size:cover; 
		background-position:center;
	}
	.progress-bar {
		height:56px;
		width:100%;
		margin:0;
		padding:0;
		position: relative;
		background:#fff;
		.text {
			text-align: right;
			position: absolute;
			top:38px;
			right:12px;
			color:#aaa;
			a {
				color:#aaa;
			}
		}
	}
	.selection-text {
		position: absolute;
		text-align: left;
		width:55%;
		height:56px;
		z-index: 99;
		left: 60px;
		color: #333;
		font-size: 12px;
	}
}
.no-img li.result-list {
	.selection-text {
		left:12px;
	}
}
.result-list {
	&:nth-child(2) .progress-bar .progress {
		background: #53c6fd;
	}
	&:nth-child(3) .progress-bar .progress {
		background: #ffae02;
	}
	&:nth-child(4) .progress-bar .progress {
		background: #3ae3ea;
	}
	&:nth-child(5) .progress-bar .progress {
		background: #ff6f36;
	}
	&:nth-child(6) .progress-bar .progress {
		background: #cf7af3;
	}
	&:nth-child(7) .progress-bar .progress {
		background: #4cd32e;
	}
	&:nth-child(8) .progress-bar .progress {
		background: #4587f7;
	}
	&:nth-child(9) .progress-bar .progress {
		background: #00c2eb;
	}
	&:nth-child(10) .progress-bar .progress {
		background: #ff618f;
	}
	&:nth-child(11) .progress-bar .progress {
		background: #21d9a1;
	}
}
.pie-chart {
	 border-bottom:1px solid #e8e8e8;
	 padding-bottom: 12px;
}