<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left" id="ID-Room-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">全部设备</h1>
        <div class="titlebar-right">
            <a class="titlebar-button" id="ID-AddDevice-Btn"><i class="icon icon-qrcodeline"></i></a>
        	<a class="titlebar-button" id="ID-Index-BtnSearch"><i class="icon icon-search"></i></a>
        </div>
    </div>
</header>
<article class="article-fixed" style="top:44px;">
    <div id="ID-Check-List"></div>
</article>
