<div class="blockInside">
    <ul class="tablist">
        <li class="active SID-tab" data-name="hold-meet"><a>召开会议</a></li>
        <li class="SID-tab" data-name="join-meet"><a>参与会议</a></li>
        <li class="SID-tab" data-name="service-meet"><a>服务会议</a></li>
    </ul>
    <!-- 召开会议模块 -->
    <div class="hold-meet SID-hold-snippet">
        
    </div>    
    <!-- 参与会议模块 -->
    <div class="join-meet SID-participate-snippet">
        
    </div>
    <!-- 服务会议模块 -->
    <div class="service-meet SID-service-snippet">
        
    </div>
</div>
