<div class="blockInside" style="margin:40px 0;">
       <div class="tree-container detail">
       <ul class="tablist">
           <li class="active" ><a data-tab-id ='0' class="SID-tab">会议信息</a></li>
           <li class="SID-control"><a data-tab-id = '1' class="SID-tab">签到信息</a></li>
       </ul>
       <!-- 会议信息模块 -->
       <div class="SID-tab-container" tab-content-id="0">
	   <div class="SID-meeting-snippet"></div>
	   </div>
       <!-- 签到信息模块 -->
       <div class="SID-tab-container hide" tab-content-id="1">
       <div class="SID-sign-snippet"></div>
       </div>
    </div>    
</div>