<div class="tree-container tree-container-noadd">
    <div class="searchBlock">
    <form id = "subForm">
    	<!--变为展开查询的时候span标签调用样式fhicon-arrowD2,search-modle后增加hide-->
        <div class="search-toggleBar">
            <a class="search-toggle SI-search-toggle">
                <span class="icon-set fhicon-arrowD2"></span><span>展开查询条件</span>
            </a>
        </div>
    	<div class="search-modle hide">
            <div class="hold-meet-mod lef">
                <div class="search-list">
                    <label class="search-label">会议名称：<input type="text" class="choose-text SID-meetingName" name = "meetingName"/></label>
                    <label class="search-label">会议日期：</label>
                    <input type="text" class="choose-date SID-beginDate" name="beginTime" id="from" readonly="readonly"/>~<input type="text" class="choose-date SID-endDate" id="to" name="endTime" readonly="readonly"/>
                    <label class="search-label pos">会议召开人：<input type="text" class="choose-text SID-meetingHolder" name = "meetingHolder"/></label>
                    <label class="search-label">会议地址：<input type="text" class="choose-text SID-address" name = "address"/></label>
                    <label class="search-label rel">会议状态：
                        <select class = "SID-meetingStatus" name = "meetingStatus">
                        	<option value="0" selected>请选择</option>
                            <option value="20">未进行</option>
                            <option value="30">进行中</option>
                            <option value="40">已取消</option>
                            <option value="50">已结束</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="search-button seb "><a class = "SID-search">查询</a><a class = "SID-clearSearch">清空</a></div>
        </div>
    </form>
    </div>
    <!-- 表格内容 -->
    <div class="tableblock">
        <table id = "grid-table" width = "100%" class = "common-table"></table>
    </div>
</div>