<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center"><span class="bjyh-word" style="width: 50%;"><%=data.roomName %></span></h1>
    </div>
</header>
<article>
	<div id="ID-CheckDetail-Content"></div>
</article>
<footer>
	<div class="app-footBtns topline SID-CheckBtn">
		<button disabled class="button color-cancel">
			<i class="icon icon-rdorefuse size20"></i>
			<span>不同意</span>
		</button>
		<button disabled class="button color-success">
			<i class="icon icon-rdook size20"></i>
			<span>同意</span>
		</button>
	</div>
</footer>