<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//UNKNOWN/" "classpath:mybatis-3-mapps.dtd" >
<mapper namespace="com.fiberhome.mapps.meeting.dao.MtMeetingMapper">
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.meeting.entity.MtMeeting">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ecid" jdbcType="VARCHAR" property="ecid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="sponsor" jdbcType="VARCHAR" property="sponsor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="has_group" jdbcType="VARCHAR" property="hasGroup" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="reserved_id" jdbcType="VARCHAR" property="reservedId" />
    <result column="notice_type" jdbcType="VARCHAR" property="noticeType" />
    <result column="notice_set" jdbcType="VARCHAR" property="noticeSet" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
  </resultMap>
  
  <select id="getMeeting" parameterType="java.util.Map" resultType="ClientMeetingInfo" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  select meetingId,meetingName,address,beginTimeStr,endTimeStr,isSelfCreate,status
  from 
  (
	  select meetingId,meetingName,address,beginTimeStr,endTimeStr,isSelfCreate,status 
	  from
	  (
	    select id meetingId,name meetingName,address,to_char(begin_time,'MM-dd hh24:mi') beginTimeStr,to_char(end_time,'MM-dd hh24:mi') endTimeStr
	    	  ,status,case when sponsor = #{userId,jdbcType=VARCHAR} then 1 else 0 end isSelfCreate,begin_time
	    	  ,case when status='30' then 1 when status='20' then 2 when status='40' then 4 when status='50' then 3 else 5 end orderstatus
		from mt_meeting r
		where r.ecid = #{ecid,jdbcType=VARCHAR} and r.status in ('20','30')
		<!-- <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
		  and (exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.visible = '1'))
		  <if test="name != null">
		  and name like #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="likeParam != null">
		  and (name like #{likeParam,jdbcType=VARCHAR} or address like #{likeParam,jdbcType=VARCHAR})
	      </if>
	      <if test="status != null">
		  and r.status in (${status})
	      </if>
		  <if test="selfCreate != null">
		  and sponsor = #{userId,jdbcType=VARCHAR}
	      </if>
		  <if test="selfAttend != null">
		  and 
		  (exists (select 1 from mt_participants mp 
		           where r.id = mp.meeting_id 
		             and mp.person_id = #{userId,jdbcType=VARCHAR} 
		             and mp.person_type='inner'
		             and mp.person_id &lt;&gt; r.sponsor))
	      </if>
		  <if test="selfService != null">
		  and 
		  (exists (select 1 from mt_signin_serv ss where r.id = ss.meeting_id and ss.user_id = #{userId,jdbcType=VARCHAR} and ss.user_id &lt;&gt; r.sponsor))
	      </if>
		  <if test="time != null">
		  and create_time &lt; #{time}
	      </if>
	    ) a
		order by orderstatus asc,begin_time asc
	) a
	union all 
	select meetingId,meetingName,address,beginTimeStr,endTimeStr,isSelfCreate,status
	from 
	(
	  select meetingId,meetingName,address,beginTimeStr,endTimeStr,isSelfCreate,status 
	  from
	  (
	    select id meetingId,name meetingName,address,to_char(begin_time,'MM-dd hh24:mi') beginTimeStr,to_char(end_time,'MM-dd hh24:mi') endTimeStr
	    	  ,status,case when sponsor = #{userId,jdbcType=VARCHAR} then 1 else 0 end isSelfCreate,begin_time
	    	  ,case when status='30' then 1 when status='20' then 2 when status='40' then 4 when status='50' then 3 else 5 end orderstatus
		from mt_meeting r
		where r.ecid = #{ecid,jdbcType=VARCHAR} and r.status in ('40','50')
		<!-- <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
		  and (exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.visible = '1'))
		  <if test="name != null">
		  and name like #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="likeParam != null">
		  and (name like #{likeParam,jdbcType=VARCHAR} or address like #{likeParam,jdbcType=VARCHAR})
	      </if>
	      <if test="status != null">
		  and r.status in (${status})
	      </if>
		  <if test="selfCreate != null">
		  and sponsor = #{userId,jdbcType=VARCHAR}
	      </if>
		  <if test="selfAttend != null">
		  and 
		  (exists (select 1 from mt_participants mp 
		           where r.id = mp.meeting_id 
		             and mp.person_id = #{userId,jdbcType=VARCHAR} 
		             and mp.person_type='inner'
		             and mp.person_id &lt;&gt; r.sponsor))
	      </if>
		  <if test="selfService != null">
		  and 
		  (exists (select 1 from mt_signin_serv ss where r.id = ss.meeting_id and ss.user_id = #{userId,jdbcType=VARCHAR} and ss.user_id &lt;&gt; r.sponsor))
	      </if>
		  <if test="time != null">
		  and create_time &lt; #{time}
	      </if>
	    ) a
		order by orderstatus asc,begin_time desc
	) b
  </select>
  
  <select id = "getMeetingForWeb" parameterType = "java.util.Map" resultType = "clientMeetingInfo" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  	select meetingId,meetingName,address,holderName,beginTimeStr,endTimeStr,createTimeStr,isSelfCreate,status,begin_time,create_time,end_time
  from
  (
    select id meetingId,name meetingName,address
    	  ,(select person_name from mt_participants p where p.meeting_id=r.id and p.person_id =r.sponsor  group by person_name) holderName
    	  ,to_char(begin_time,'yyyy-MM-dd hh24:mi:ss') beginTimeStr,to_char(end_time,'yyyy-MM-dd hh24:mi:ss') endTimeStr
    	  ,to_char(create_time,'yyyy-MM-dd hh24:mi:ss') createTimeStr,status,case when sponsor = #{userId,jdbcType=VARCHAR} then 1 else 0 end isSelfCreate,begin_time,create_time,end_time
	      ,(select max(person_name) from mt_participants p where p.meeting_id = r.id and p.person_id = r.sponsor) sponsorName
	from mt_meeting r
	where 
	  r.ecid = #{ecid,jdbcType=VARCHAR} and r.status in ('10','20','30','40','50')
	  <!-- <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
	  and (exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.visible = '1'))
	  and (
	  (exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR}))
	  or
	  (exists (select 1 from mt_signin_serv ss where r.id = ss.meeting_id and ss.user_id = #{userId,jdbcType=VARCHAR}))
	  or (sponsor = #{userId,jdbcType=VARCHAR})
	  )
	  <if test="meetingName != null">
	  and name like #{meetingName,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
	  and address like #{address,jdbcType=VARCHAR}
      </if>
      <if test="meetingStatus != null and meetingStatus != 0">
	  and r.status = #{meetingStatus,jdbcType=VARCHAR}
      </if>
	  <if test="beginTime != null">
	  and begin_time > to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
      </if>
      <if test="endTime != null">
	  and begin_time &lt; to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
      </if>
      <if test="create_beginTime != null">
	  and begin_time > to_date(#{create_beginTime},'yyyy-MM-dd hh24:mi:ss')
      </if>
      <if test="create_endTime != null">
	  and begin_time &lt; to_date(#{create_endTime},'yyyy-MM-dd hh24:mi:ss')
      </if>
      <if test="meetingHolder != null and meetingHolder != ''">
	  and sponsor = #{meetingHolder,jdbcType=VARCHAR}
      </if>
	  <if test="selfCreate != null">
	  and sponsor = #{userId,jdbcType=VARCHAR}
      </if>
	  <if test="selfAttend != null">
	  and 
	  (exists (select 1 from mt_participants mp 
	           where r.id = mp.meeting_id 
	             and mp.person_id = #{userId,jdbcType=VARCHAR} 
	             and mp.person_type='inner'
	             and mp.person_id &lt;&gt; r.sponsor))
	  and r.status &lt;&gt; '10'
      </if>
	  <if test="selfService != null">
	  and 
	  (exists (select 1 from mt_signin_serv ss where r.id = ss.meeting_id and ss.user_id = #{userId,jdbcType=VARCHAR} and ss.user_id &lt;&gt; r.sponsor))
      </if>
    ) a
    where 1 = 1
    <if test="sponsorName != null">
    	and a.sponsorName like '%'||#{sponsorName,jdbcType=VARCHAR}||'%'
    </if>
    <choose>
    	<when test = "sort != null">
    		order by ${sort}
    	</when>
    	<when test = "order != null and order == 1">
    		order by begin_time desc
    	</when>
    	<otherwise>
    		order by create_time desc
    	</otherwise>
    </choose>
  </select>
  <select id="getMeetingInfo" parameterType="java.util.Map" resultType="ClientMeetingInfo" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
    select id meetingId,name meetingName,address,to_char(begin_time,'yyyy-MM-dd hh24:mi') beginTimeStr,to_char(end_time,'yyyy-MM-dd hh24:mi') endTimeStr
          ,has_group hasGroup,group_id groupId,sponsor 
    	  ,status,case when sponsor = #{userId,jdbcType=VARCHAR} then 1 else 0 end isSelfCreate
    	  ,case when exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.person_type in('inner','outer')) then 1 else 0 end isSelfJoin
    	  ,case when exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.person_type in('service')) then 1 else 0 end isSelfService
    	  ,case when exists (select 1 from mt_meeting ms where r.id = ms.id and ms.sponsor = #{userId,jdbcType=VARCHAR}) then 1
    	  else (case when exists (select 1 from mt_participants mp where r.id = mp.meeting_id and mp.person_id = #{userId,jdbcType=VARCHAR} and mp.person_type in('inner','outer')) then 2 else 3 end) end selfOp
    	  ,reserved_id reservedId
	from mt_meeting r
	where r.id = #{meetingId,jdbcType=VARCHAR}
	<!-- <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
	<if test="ecid != null">
	and r.ecid = #{ecid,jdbcType=VARCHAR} 
	</if>
  </select>
  <update id="cancelMeetById" parameterType="java.util.Map" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  	update mt_meeting set status=4 where id = #{meetingId,jdbcType=VARCHAR}
  	<!-- <orgdepfilter prefix="and" deporder="org_dept_order"/> -->
  </update>
  <update id="overMeetById" parameterType="java.util.Map" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  	update mt_meeting set status=3 where id = #{meetingId,jdbcType=VARCHAR}
  	<!-- <orgdepfilter prefix="and" deporder="org_dept_order"/> -->
  </update>
  <update id="applyMeetById" parameterType="java.util.Map" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  	update mt_meeting set status=1 where id = #{meetingId,jdbcType=VARCHAR}
  	<!-- <orgdepfilter prefix="and" deporder="org_dept_order"/> -->
  </update>
  <delete id="deleteByMeetingId" parameterType="java.util.Map" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
    delete from mt_meeting where id = #{meetingId}
    <!-- <orgdepfilter prefix="and" deporder="org_dept_order"/> -->
  </delete>
  <!-- 
  <update id="updateStatusSchedule" parameterType="java.util.Map" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
    update mt_meeting r set status = case when r.begin_time &lt;= #{now} and  #{now} &lt;= r.end_time then '30'
                                           when #{now} &gt; r.end_time then '50' 
                                           else '20' 
                                      end
    where r.status in ('20','30')
    <orgdepfilter prefix="and" deporder="r.org_dept_order"/>
  </update>
   -->
  <select id="getMeetingCall" parameterType="java.util.Map" resultType="MtMeeting" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
    select id,ecid,name,address,begin_time beginTime,end_time endTime,sponsor,create_time createTime,status,reserved_id reservedId 
	from mt_meeting r
	where r.status='1' and r.notice_time >= #{stime} and r.notice_time &lt; #{etime}
	<!-- <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
  </select>
  
  <!-- bjyh start -->  
  <select id="getBJYHMeeting" parameterType="java.util.Map" resultType="ClientMeetingInfo" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
  select meetingId,meetingName,address,beginTimeStr,endTimeStr,isSelfCreate,mrStatus status 
  from
  (
    select m.id meetingId,m.name meetingName,m.address,to_char(m.begin_time,'MM-dd hh24:mi') beginTimeStr,to_char(m.end_time,'MM-dd hh24:mi') endTimeStr
	    ,m.status mtStatus,case when m.sponsor = #{userId,jdbcType=VARCHAR} then 1 else 0 end isSelfCreate,m.begin_time
	    ,coalesce((select approved from mr_approve_info mai where mr.id = mai.reserved_id and mai.user_id = #{userId,jdbcType=VARCHAR}),'1') approved	  
        ,mr.status mrStatus
        ,case when mr.status = 'a' then 1
              when mr.status = 'r' then 2
              when mr.status = '1' then 3
              when mr.status = '2' then 4
              when mr.status = '3' then 5
              when mr.status = '4' then 6
         else 9 end orderStatus
        ,case when mr.status = 'a' and m.sponsor = #{userId,jdbcType=VARCHAR} then 1
              when mr.status = 'r' and m.sponsor = #{userId,jdbcType=VARCHAR} then 1
              when mr.status in ('1','2','3') then 1
         else 0 end showDataFlag
    from mt_meeting m,mr_reserved mr,mr_room r
    where m.reserved_id = mr.id
    <!-- <orgdepfilter prefix="and" deporder="m.org_dept_order"/>
    <orgdepfilter prefix="and" deporder="mr.org_dept_order"/>
    <orgdepfilter prefix="and" deporder="r.org_dept_order"/> -->
      and mr.room_id = r.id 
      and mr.status in ('a','r','1','2','3','4')
      and m.ecid = #{ecid,jdbcType=VARCHAR}
      and 0 &lt; (select count(1) from mt_participants where meeting_id = m.id and person_id = #{userId,jdbcType=VARCHAR} and visible = '1')
      <if test="now != null">
      and case when mr.status = 'a' and #{now} &gt;= mr.order_time_end then 0 else 1 end = 1
      </if>
      <if test="likeParam != null">
	  and (m.name like #{likeParam,jdbcType=VARCHAR} or m.address like #{likeParam,jdbcType=VARCHAR})
      </if>
      <if test="likeName != null">
	  and (m.name like #{likeName,jdbcType=VARCHAR})
      </if>
	  <if test="time != null">
	  and m.create_time &lt; #{time}
      </if>
	  <if test="selectDate != null">
	  and to_char(m.begin_time,'yyyy-MM-dd') = #{selectDate,jdbcType=VARCHAR}
      </if>
  ) a
  where showDataFlag = 1
  order by begin_time asc
  </select>
  <!-- bjyh end orderStatus asc,-->
  
  <!-- querysignstatus -->
  <select id="getMeetingSignStatus" parameterType="java.util.Map" resultType="MtSignStatus" lang="com.fiberhome.mapps.intergration.mybatis.MyLanguageDriver">
    select s1.signnum1 as totalnum,s2.signnum2 as signnum from
    (select count(1) as signnum1
	from mt_signin_record msr
	where msr.meeting_id=#{meetingId,jdbcType=VARCHAR} and person_id=#{userId,jdbcType=VARCHAR}
	  and person_id &lt;&gt; (select sponsor from mt_meeting where id = msr.meeting_id)) s1,
	(select count(1) as signnum2
	from mt_signin_record msr
	where msr.meeting_id=#{meetingId,jdbcType=VARCHAR} and person_id=#{userId,jdbcType=VARCHAR} and signed='Y'
	  and person_id &lt;&gt; (select sponsor from mt_meeting where id = msr.meeting_id)) s2
  </select>
</mapper>