<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-back" href="javascript:mplus.closeWindow()">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">会议管理</h1>
        <div class="titlebar-right">
            <a class="titlebar-button" id="ID-Index-BtnSearch"><i class="icon icon-search"></i></a>
            <a class="titlebar-button" id="ID-Index-BtnQrcode"><i class="icon icon-qrcode"></i></a>
        </div>
    </div>
    <div class="calendar underline" id="ID-Index-Calendar" style="padding-bottom: 5px;"></div>
</header>
<div class="line" style="top:161px;"></div>
<article style="top:161px;bottom: 59px;background-color: white;">
    <div style="position: relative;width: 100%">
        <ul class="list" id="ID-Index-List"></ul>
    </div>
</article>
<footer class="topline" style="background-color: #f0f0f0;height: 60px;">
    <a id="ID-Index-BtnAdd" class="button primary block" style="width: 250px;margin:10px auto 0 auto;border-radius: 4px;">召开会议</a>
</footer>