<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiberhome.mapps.sign.dao.SnSignImageMapper" >
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.sign.entity.SnSignImage" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="sign_image_id" property="signImageId" jdbcType="VARCHAR" />
    <result column="sign_id" property="signId" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>
</mapper>