<div class="fixed-header SID-header-snippent" style="display: none">
	<div class="header-logoarea">
    	<img src="images/main/logo.png"/>
    </div>
    <div class="header-info">
    	<a class="top-home SID-test"><span class="fhicon-set2"></span></a>
        <a class="top-home"><span class="fhicon-home"></span></a>
        <a class="top-home"><span class="fhicon-admin"></span></a>
        <a class="top-home"><span class="fhicon-close3"></span></a>
    </div>
</div>

<!--左侧-->
<div class="fixed-side-left" style="display:none;">
	<ul class="nav-category SID-menu-snippet">
    </ul>
</div>

<!--右侧-->
<div class="SID-main-container-snippet">
	<div class="SID-manage-snippent"></div>
	<div class="SID-monitor-snippent"></div>
	<div class="SID-index-snippent"></div>
	<div class="SID-trace-snippent"></div>
</div>


<!--底部-->
<div class="fixed-footer" style="display: none">
	<span id="serverversion" style="float:left;margin:auto 10px"></span>
    <span>Copyright©2017南京烽火星空通信发展有限公司 , 保留所有权利</span>
</div>
