<div class="layer-opt" id="uploadDIV">
    <span class="close" id="layer-close">
        <i class="fhicon-close2"></i>
    </span>
    <input class="pop-text" id="fileShade5" type="text" placeholder="图片大小上限为5M">
    <input id=file name="file" type="file" size="32" class="file-upload">
    <a class="button">
        <img src="<%=imagePath%>/meeting-maintenance/eye.png">
        <span>浏览</span>
    </a>
    <a id="addAppPicBtn" class="button">
        <img src="<%=imagePath%>/meeting-maintenance/upload.png" class="upload">
        <span class="upload-cont">上传</span>
    </a><%=fileType%>
</div>
<!-- 上传图片显示的遮罩 -->
<div class="img-shadow"></div>