<div class="outmain-cons">
    <div class="main-cons">
        <div class="formBox">
            <div class="form-item">
                <label class="form-item-label">姓名：</label>
                <div class="form-item-editbox grey"><%=data.feedback.userName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">登录账号：</label>
                <div class="form-item-editbox grey"><%=data.feedback.userId%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">部门：</label>
                <div class="form-item-editbox grey"><%=data.deptName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">电子邮件：</label>
                <div class="form-item-editbox grey"><%=data.email%></div>
            </div>
        </div>
    </div>
</div>
