<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">活动详情</h1>
        <a class="titlebar-button titlebar-right" id="ID-Popup-Menu" style="display:none;">
            <i class="icon icon-menudot"></i>
        </a>
    </div>
</header>
<article>
    <div id="ID-Detail-Content"></div>
</article>
<!--右上角弹出框-->
<div class="app-popover" id="ID-Popup-Popover">
	<ul>
		<li class="underline" style="display:none;" id="ID-Share-Btn">
			<i class="icon icon-fweixin-fill"></i>
			<label>分享至圈子</label>
		</li>
		<li class="underline" style="display:none;" id="ID-Export-Btn">
			<i class="icon icon-mail"></i>
			<label>导出报名表</label>
		</li>
	</ul>
</div>