<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">导出报名表</h1>
    </div>
</header>
<article>
<form id="ID-Email-Form">
    <div class="group">
        <div class="sliver underline">
            <span class="peg"></span>
            <p class="sliver-title">请完善以下信息</p>
        </div>
        <!-- <div style="padding: 0 12px;"> -->
            <!--手机-->
            <div class="inputbox underline" style="padding: 0 12px;">
                <label class="inputbox-left">邮箱地址</label>
                <div class="inputbox-right inputbox">
                    <input type="text" name="NID-Email-mail" maxlength="80" id="ID-Email-mail" class="input-text" placeholder="请输入邮箱地址">
                </div>
            </div>
    </div>

	<div style="margin:12px 80px;"><input class="button customBtn SID-EmailSubmitBtn" value="发送" type="button"/></div>
</form>
</article>