<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiberhome.mapps.meeting.dao.MdParticipantsMapper" >
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.meeting.entity.MdParticipants" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="entity_type" property="entityType" jdbcType="VARCHAR" />
    <result column="entity_id" property="entityId" jdbcType="VARCHAR" />
    <result column="entity_name" property="entityName" jdbcType="VARCHAR" />
    <result column="dept_order" property="deptOrder" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByMeetingId" parameterType="java.util.Map">
    delete from MD_PARTICIPANTS where object_id = #{meetingId}
  </delete>
  
  <select id="getByMeetingId" parameterType="java.util.Map" resultType="MdParticipants">
    select id,type,object_id objectId,object_name objectName,entity_type entityType,entity_id entityId,entity_name entityName,dept_order deptOrder,parent_id as parentId 
    from MD_PARTICIPANTS where object_id = #{meetingId,jdbcType=VARCHAR}
  </select>
</mapper>