<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiberhome.mapps.meeting.dao.MtAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.meeting.entity.MtAttachment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="meeting_id" property="meetingId" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="content_type" property="contentType" jdbcType="VARCHAR" />
    <result column="file_size" property="size" jdbcType="NUMERIC" />
    <result column="privilege" property="privilege" jdbcType="NUMERIC" />
    <result column="uploadTime" property="uploadTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByMeetingId" parameterType="java.util.Map">
    delete from MT_ATTACHMENT where meeting_id = #{meetingId}
  </delete>
  
  <select id="getByMeetingId" parameterType="java.util.Map" resultType="MtAttachment">
    select id,meeting_id meetingId,file_path filePath,file_name fileName,content_type contentType,file_size as "size",privilege,upload_time uploadTime,
    <choose>
    	<when test="databaseType == 'db/mysql'">
    		date_format(upload_time,'%Y-%m-%d %H:%i:%s') 
    	</when>
    	<otherwise>
    		to_char(upload_time,'yyyy-mm-dd hh24:mi:ss') 
    	</otherwise>
    </choose>
    uploadTimeStr
    from MT_ATTACHMENT where meeting_id = #{meetingId,jdbcType=VARCHAR}
  </select>
</mapper>