<div class="blockInside SID-monitorGeneralBox" style="margin: 0 20px 38px 20px;background-color: white">
    <ul class="tablist SID-bigmenu">
    	<li class="active SID-tab" data-name="dashboard-index"><a>首页</a></li>
<!--         <li class="SID-tab" data-name="dashboard-manage"><a>dashboard管理</a></li> -->
    </ul>
    
    <!-- dashboard首页模块 -->
    <div class="dashboard-index SID-dashboard-index-snippet">
    </div>
    
    <!-- dashboard管理模块 -->
    <!-- <div class="dashboard-manage SID-dashboard-manage-snippet">
    </div> -->
    
</div>
