<div class="blockInside" style="margin: 0 20px 38px 20px">
    <ul class="tablist">
        <li class="active SID-tab" data-name="database-manage"><a>数据库管理</a></li>
        <li class="SID-tab" data-name="redisdatabase-manage"><a>Redis管理</a></li>
        <li class="SID-tab" data-name="resource-manage"><a>资源管理</a></li>
        <li class="SID-tab" data-name="route-manage"><a>路由管理</a></li>
        <li class="SID-tab" data-name="config-manage"><a>配置管理</a></li>
    </ul>
    
    <!-- 数据库管理模块 -->
    <div class="database-manage SID-database-manage-snippet">
    </div>
    
    <!-- Redis数据库管理模块 -->
    <div class="redisdatabase-manage SID-redisdatabase-manage-snippet">
    </div>
    
     <!-- 资源管理模块 -->
    <div class="resource-manage SID-resource-manage-snippet">
    </div>
    
    <!-- 路由管理模块 -->
    <div class="route-manage SID-route-manage-snippet">
    </div>
    
    <!-- 配置管理模块 -->
    <div class="config-manage SID-config-manage-snippet" style="overflow:auto">
    </div>
</div>
