<div class="blockInside SID-monitorGeneralBox" style="margin: 0 20px 38px 20px;background-color: white">
    <ul class="tablist SID-bigmenu">
    	<!-- <li class="active SID-tab" data-name="dashboard-index"><a>首页</a></li> -->
        <li class="active SID-tab" data-name="dashboard-manage"><a>dashboard管理</a></li>
        <li class="SID-tab" data-name="measurement-manage"><a>指标定义</a></li>
        <li class="SID-tab" data-name="tag-manage"><a>TAG定义</a></li>
        <li class="SID-tab" data-name="sample-manage"><a>采样设置</a></li>
        <li class="SID-tab" data-name="retention-manage"><a>保留策略</a></li>
        <li class="SID-tab" data-name="rule-manage"><a>预警规则</a></li>
        <li class="SID-tab" data-name="alertlog-manage"><a>报警日志</a></li>
    </ul>
    
    <!-- dashboard首页模块 -->
   <!--  <div class="dashboard-index SID-dashboard-index-snippet">
    </div> -->
    
    <!-- dashboard管理模块 -->
    <div class="dashboard-manage SID-dashboard-manage-snippet">
    </div>
    
    <!-- 指标定义模块 -->
    <div class="measurement-manage SID-measurement-manage-snippet">
    </div>
    
    <!-- TAG定义模块 -->
    <div class="tag-manage SID-tag-manage-snippet">
    </div>
    
    <!-- 采样设置模块 -->
    <div class="sample-manage SID-sample-manage-snippet">
    </div>
    
    <!-- 保留策略模块 -->
    <div class="retention-manage SID-retention-manage-snippet">
    </div>
    
    <!-- 规则管理模块 -->
    <div class="rule-manage SID-rule-manage-snippet">
    </div>
    
    <!-- 报警日志管理模块 -->
    <div class="alertlog-manage SID-alertlog-manage-snippet">
    </div>
</div>
