<div class="blockInside SID-monitorGeneralBox" style="margin: 0 20px 38px 20px;background-color: white">
    <ul class="tablist SID-bigmenu">
        <li class="active SID-tab" data-name="trace-manage"><a>链路查询</a></li>
        <li class="SID-tab" data-name="trace-dependancy"><a>调用依赖</a></li>
    </ul>
    
    <!-- 链路查询模块 -->
    <div class="trace-manage SID-trace-manage-snippet">
    </div>
    
    <!-- 调用依赖模块 -->
    <div class="trace-dependancy SID-trace-dependancy-snippet">
    </div>
    
</div>
