<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">人员搜索</h1>
    </div>
    <div class="app-blockSearch">
        <!-- <form id="ID-TreeSearch-SearchForm" method="post" class="inputbox inputbox-search" data-input="clear">
            <input type="search" name="NID-TreeSearch-Search" class="search input-text" style="padding: 6px 12px;">
            <i class="color-placeholder icon icon-clear-fill hide size20"></i>
            <div class="inputbox-search-placeholder">
                <i class="inputbox-search-icon icon-search"></i>
                <span class="inputbox-search-font">请输入姓名</span>
            </div>
        </form> -->
        <form id="ID-TreeSearch-SearchForm" method="post" class="inputbox" data-input="clear">
            <i class="color-placeholder icon icon-search size20"></i>
            <input type="search" placeholder="请输入姓名" name="NID-TreeSearch-Search" class="search input-text" style="padding: 6px 12px 6px 0;">
            <i class="color-placeholder icon icon-clear-fill hide size20"></i>
        </form>
    </div>
</header>
<article style="top:87px;">
    <div id="ID-TreeSearch-Result" style="padding: 10px 0;"></div>
</article>