<div class="slideDown">
    <div>
        <hr style="margin-left: 12px;" />
        <div class="input-line underline">
            <div class="inputbox SID-DivDateTime">
                <i class="color-primary icon icon-time"></i>
                <input type="text" name="NID-AgendaStart" class="SID-DateTimeStart input-text" readonly placeholder="开始时间"/>
            </div>
            <div class="inputbox leftline SID-DivDateTime">
                <i class="color-primary icon icon-time" style="margin-left: 8px;"></i>
                <input type="text" name="NID-AgendaEnd" class="SID-DateTimeEnd input-text" readonly placeholder="结束时间"/>
            </div>
        </div>
        <div class="input-line underline">
            <div class="inputbox">
                <i class="color-primary icon icon-position"></i>
                <input type="text" name="NID-AgendaAddress" class="input-text" maxlength="30" placeholder="议程地址">
            </div>
        </div>
        <div class="input-line underline">
            <div class="inputbox">
                <i class="color-primary icon icon-chatline"></i>
                <textarea name="NID-AgendaDes" class="input-pre" maxlength="50" placeholder="议程说明" style="margin:12px 8px;"></textarea>
            </div>
        </div>
    </div>
    <a class="button cancel app-groupBtnDel SID-BtnDel">删除</a>
</div>