<div class="input-line underline slideDown">
    <input type="text" name="NID-SignSequ" style="width: 60px;border: 0;" class="SID-LblSign input-text" value="签到1" readonly="">
    <div class="box-flex-1 leftline inputbox" style="width: 50%;margin-left:12px;text-align: right;">
    <textarea class="input-pre" style="margin: 12px 0 12px 8px;" maxlength="30" name="NID-SignDes" placeholder="签到说明"></textarea>
    </div>
    <i class="icon-rdocancel-fill app-groupIconDel SID-IconDel"></i>
    <div class="app-groupIconDelConfirm SID-IconDelConfirm">
        <i class="icon icon-trash-fill"></i>
    </div>
</div>