<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.mapps.servicemanager.dao.McAlertLogsMapper">
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.servicemanager.entity.McAlertLogs">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="alert_level" jdbcType="VARCHAR" property="alertLevel" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="alert_data" jdbcType="VARCHAR" property="alertData" />
    <result column="alert_time" jdbcType="DATE" property="alertTime" />
  </resultMap>
  
  <select id="getAlertlogsList" parameterType="java.util.Map" resultType="ClientAlertlogInfo">
    select mal.id,mal.rule_id as ruleId,mal.alert_level as alertLevel,mal.message,mal.alert_data as alertData,mal.alert_time as alertTime,mar.name as ruleName
    from MC_ALERT_LOGS mal
    LEFT JOIN MC_ALERT_RULE mar
    ON mal.rule_id = mar.id
    where 1=1
    <if test="keyword != null">
	and mar.name like #{keyword,jdbcType=VARCHAR}
	</if>
    <choose>
    	<when test="sort != null">
    		order by mal.${sort}
    	</when>
    	<otherwise>
    		order by mal.alert_time
    	</otherwise>
    </choose>
  </select>
</mapper>