<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.mapps.servicemanager.dao.McDashboardPanelMapper">
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.servicemanager.entity.McDashboardPanel">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dashboard_id" jdbcType="VARCHAR" property="dashboardId" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sequ" jdbcType="NUMERIC" property="sequ" />
    <result column="chart_type" jdbcType="CHAR" property="chartType" />
  </resultMap>
</mapper>