<div class="blockInside">
    <div class="schedule">
		<div class="schedule-head">
			<div class="schedule-name">
				<span style="font-size: 14px;">会议室</span>
			</div>
			<div class="schedule-content">
				<div class="schedule-date">
					
					<span class="schedule-date-title">
						<span class="schedule-date-icon" id="ID-DatePickerPrev">&lt;</span>
						<span>
							<input type="text" value="" readonly="true" id="ID-DatePicker" />
						</span>
						<span class="schedule-date-icon" id="ID-DatePickerNext">&gt;</span>
					</span>
					
				</div>
				<div class="schedule-time">
					<div class="schedule-space">&nbsp;</div>
					<div class="schedule-timepart">
						<label class="timepart-part"><span class="timepart-time">07:00</span></label>
						<label class="timepart-part"><span class="timepart-time">08:00</span></label>
						<label class="timepart-part"><span class="timepart-time">09:00</span></label>
						<label class="timepart-part"><span class="timepart-time">10:00</span></label>
						<label class="timepart-part"><span class="timepart-time">11:00</span></label>
						<label class="timepart-part"><span class="timepart-time">12:00</span></label>
						<label class="timepart-part"><span class="timepart-time">13:00</span></label>
						<label class="timepart-part"><span class="timepart-time">14:00</span></label>
						<label class="timepart-part"><span class="timepart-time">15:00</span></label>
						<label class="timepart-part"><span class="timepart-time">16:00</span></label>
						<label class="timepart-part"><span class="timepart-time">17:00</span></label>
						<label class="timepart-part"><span class="timepart-time">18:00</span></label>
						<label class="timepart-part"><span class="timepart-time">19:00</span></label>
						<label class="timepart-part"><span class="timepart-time">20:00</span></label>
						<label class="timepart-part"><span class="timepart-time">21:00</span></label>
					</div>
					<div class="schedule-space"><span class="timepart-time">22:00</span></div>
				</div>
			</div>
		</div>
		<div class="schedule-body SID-body">
		</div>
	</div>  
</div>