<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left" id="ID-Tree-BtnSubmit">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">人员选择</h1>
        <a class="titlebar-button titlebar-right" id="ID-Tree-BtnSearch">
            <i class="icon icon-search"></i>
        </a>
    </div>
</header>
<article>
    <!-- tree bar -->
    <div class="tree-bar" id="ID-Tree-Bar"></div>
    <!-- tree -->
    <div class="tree-box" id="ID-Tree-Box">
        <ul class="tree" id="ID-Tree-List"></ul>
    </div>
</article>