@charset "UTF-8";
/*      */
.header-questionnaire .header-logoarea img { width:50px; height:50px; }
.header-questionnaire .header-logoarea { padding-top:10px; }

.mll-center-questionnaire .fontColor-blue { color:#52a3ff; }
.mll-center-questionnaire .background-blue { background-color:#f1f8ff; }
.mll-center-questionnaire .select-padding { padding:5px 0; }

.mll-center-questionnaire input[type=radio] { margin-right: 4px; vertical-align: middle; margin-top: -2px;}
.mll-center-questionnaire input[type=checkbox] { margin-right: 4px; vertical-align: middle; margin-top: -2px;}

.mll-center-questionnaire .input-text {  display: inline-block; line-height: 24px; height: 24px; width: 155px; color: #999; }


.header-questionnaire .header-logoarea img { vertical-align: middle;}
.header-questionnaire .header-logoarea label { vertical-align: middle; margin-left: 5px; font-size: 18px; }

.mll-center-questionnaire,.mll-center-questionnaire .pop-config-box,.fixed-left-questionnaire .fixed-side-left { bottom: 0;}
.mll-center-questionnaire .pop-config-box { top: 0; }

.mll-center-questionnaire .crumb { position: fixed; top: 70px; left: 250px; right: 18px;  text-outline: 0; background-color: #fff; padding-top: 14px; line-height: 22px; display: block; overflow: hidden; }
.mll-center-questionnaire .crumb-postion { position: fixed; left: 90px; right: 0px; text-outline: 0; background-color: #fff; padding-top: 14px; line-height: 22px; text-indent: 15px; display: block; overflow: hidden; }
.mll-center-questionnaire .crumb-postion-left { 
	 left: 220px; 
	}


.chose-questionnaire { float: right; }
.chose-questionnaire a { color: #999; margin-right: 10px; }
.chose-questionnaire span.active  { color: #1788fb;}
.chose-questionnaire span   { margin-right:15px; }
.chose-questionnaire a.buttonblue { height: 22px; line-height: 22px; color: #1788fb; padding: 0 15px; }


.mll-center-questionnaire .datePush {
    position: fixed;
    top: 120px;
    right: 0;
    left: 230px;
    bottom: 40px;
    overflow: auto;
	
}



.mll-center-questionnaire .margintTop { margin-top: 40px; }
.mll-center-questionnaire .datePush li { padding:5px 10px; }
.mll-center-questionnaire .datePush input { vertical-align: middle; }
.mll-center-questionnaire .datePush label { vertical-align: middle; }

.mll-center-questionnaire .form-btns-middle { text-align: center;  }

.mll-center-questionnaire .dunit-table { padding: 10px; margin:50px 10px 0 10px; }
.mll-center-questionnaire .dunit-table .dunit01 td { padding: 5px 0; }
.mll-center-questionnaire .dunit-table .dunit01 td.dunit01-inner02 { padding:5px 0 5px 15px; }

.mll-center-questionnaire .pop-cons-fall { left: 0; margin:0; overflow:hidden; }

.mll-center-questionnaire .floatL { float: left;}
.mll-center-questionnaire .floatR { float:right;}
.mll-center-questionnaire h2 { font-weight: normal; display: block; overflow: hidden; line-height: 20px; padding: 10px 0; margin:50px 10px 0 10px; }
.mll-center-questionnaire .tablist { margin-top: 50px; }
.mll-center-questionnaire h2 p { display: inline-block; }
.mll-center-questionnaire h2 p span { color: #9e9e9e; margin-right: 15px; }

.mll-center-questionnaire .questionnaire-content { width: 100%; display: block; overflow: hidden; }
.mll-center-questionnaire .questionnaire-content .mll-left { float: left; }
.mll-center-questionnaire .type-problem { position: fixed; top: 120px; left:90px; width:285px; display: block; overflow: hidden;}
.mll-center-questionnaire .type-problemChoose { 
	width: 238px; margin: 20px 0px 20px auto; border:solid #e4e5e5 1px; background-color: #fafafa;  padding: 10px 0; display: block; overflow: hidden;
}
.mll-center-questionnaire .type-problemChoose li {  
	padding: 10px; display: block; overflow: hidden;
}
.mll-center-questionnaire .type-problemChoose li.blueBackground,
.mll-center-questionnaire .type-problemChoose li:hover { 
	background-color: #eff6fd;
}
.mll-center-questionnaire .type-problemChoose a.blue { 
 	line-height: 40px; display: block;
}
.mll-center-questionnaire .type-problemChoose li a.questionnaire-del  { 
 	display: none;
 	vertical-align: middle;
    margin-top: 4px;
}
.mll-center-questionnaire .type-problemChoose li:hover a.questionnaire-del,
.mll-center-questionnaire .type-problemChoose li.blueBackground  a.questionnaire-del { 
 	display: block;
}

.mll-center-questionnaire a.questionnaire-del { color: red; float: right;}
.mll-center-questionnaire .type-problemChoose h3 { 
	border-left: #52a3ff solid 4px; padding-left: 5px; color: #52a3ff; line-height: 18px; 
}
.mll-center-questionnaire .type-problemChoose a { 
	padding:0 10px;
}
.mll-center-questionnaire .type-problemChoose a:hover { 
	opacity: 0.5; 
}
.mll-center-questionnaire .type-problemChoose a span { 
	color: #52a3ff; margin-right: 4px;
}
.mll-center-questionnaire .type-problemChoose a.whiteBlue {
	border-radius: 20px; color: #6f6f6f; border: #e4e4e4 1px solid; background-color: #fff;
    height: 26px; line-height: 26px; padding: 0 15px;
    display: inline-block; margin:5px;
}
.mll-center-questionnaire .type-problemChoose a:hover.whiteBlue,
.mll-center-questionnaire .type-problemChoose a.active {
    color: #1788fb; border: #1788fb 1px solid;

}

.mll-center-questionnaire .questionnaire-right { position: fixed; left:390px; right: 0; top: 120px; bottom:40px; overflow:auto; }
.mll-center-questionnaire .questionnaire-right .questionnaire-list {  width: 90%; margin: 20px 5%; }


.mll-center-questionnaire .questionnaire-list { display: block; overflow: hidden; width: 60%; margin: 20px auto; }
.mll-center-questionnaire .questionnaire-list li { border:solid #e3e3e3 1px; margin-bottom: 20px; }
.mll-center-questionnaire .questionnaire-list li dl { line-height: 30px; }
.mll-center-questionnaire .questionnaire-list li dl dt { font-weight: bold;  padding: 10px 20px 5px; }
.mll-center-questionnaire .questionnaire-list li dl dd { padding: 5px 10px 5px 40px; }
.mll-center-questionnaire .questionnaire-list li dl dt .sequ-span { color: #fbb317; margin-right: 5px; }
.mll-center-questionnaire .input-radio,
.mll-center-questionnaire .input-check { 
	margin-left: 0px;
}
.mll-center-questionnaire .input-text { 
	height:24px;
}
.mll-center-questionnaire .textarea {
	border:#e3e3e3 solid 1px; border-radius: 5px; padding: 10px 10px 0 10px;
}

.mll-center-questionnaire .questionnaire-list li dl dd .input-hide { margin-left: 20px; }

.mll-center-questionnaire .questionnaire-list li dl dd.active .input-hide
 { display: block; }

.mll-center-questionnaire .questionnaire-list li dl dd .buttonGroup {
	display: none;
} 
.mll-center-questionnaire .questionnaire-list .active .buttonGroup,
.mll-center-questionnaire .questionnaire-list li dl dd:hover .buttonGroup {
	display: block;
}
.mll-center-questionnaire .questionnaire-list .active,
.mll-center-questionnaire .questionnaire-list li dl dd.choose:hover {
	background: #f1f8ff;
}
.mll-center-questionnaire .questionnaire-list li dl dd.choose select {
	width: 200px; margin-left: 0px;
}
.mll-center-questionnaire .questionnaire-list li dl dd select {
	width: 200px; margin-left: 0px;
}
.mll-center-questionnaire textarea { width: 90%; margin: 10px 0 0; border:none; color:#9e9e9e; }
.mll-center-questionnaire .questionnaire-list .buttonGroup {
	float: right; margin-right: 10px;
}
.mll-center-questionnaire .questionnaire-list .buttonGroup a { margin: 0 10px; color: #52a3ff; }

.mll-center-questionnaire .questionnaire-list .buttonGroup a.questionnaire-del {
	color: #e84040; float: none;
}
.mll-center-questionnaire .questionnaire-list li dl dd.operating {
	background-color: #f5f5f5; border-top: solid #e3e3e3 1px; margin-top: 20px; height: 48px;
}
.mll-center-questionnaire .questionnaire-list li dl dd.operating a {
	color: #52a3ff; line-height: 48px; margin: 0 10px;
}
.mll-center-questionnaire .questionnaire-list li dl dd.operating a label {
	vertical-align: middle;
}
.fhicon-copy,.fhicon-rule,.fhicon-trash,.questionnaire-drag { font-size: 18px; vertical-align: middle; margin-right: 3px;}
.mll-center-questionnaire .questionnaire-list li dl dd.operating a.red { color: red; }


.mll-center-questionnaire .questionnaire-list li .input-textNoLine { border: none; text-align: center;  line-height:30px; width: 100%; padding: 15px 0px;}
.mll-center-questionnaire .questionnaire-list li .borderNone{ border: none; background: none; padding:0;}


.mll-center-questionnaire .width90 { width: 90%; margin: 0 0; }






.mll-center-questionnaire .right-center { width: 100%;  margin-top: 30px; }
.mll-center-questionnaire .right-center .form-item { padding-bottom: 20px; }
.mll-center-questionnaire .right-center .form-item .form-item-label { width: 120px; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox { position: relative; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .memblock {
	border: #e8e8e8 1px solid;  min-height: 210px; width: 350px; 
}
.mll-center-questionnaire .right-center .form-item .form-item-editbox .memblock .list li.select {
              background-color: #f3f3f3; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .memblock .list li a {
              display: block;
              padding: 0 10px; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .memblock .list li a:hover {
              background-color: #f3f3f3; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-searchbar {
            border: #e8e8e8 1px solid;
            border-radius: 4px;
            height: 30px;
            line-height: 30px;
            margin: 0 0 10px 0;
            width: 350px; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-searchbar input {
              width: 88%;
              padding-left: 10px;
              border: 0; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-searchbar a {
              font-size: 18px;
              position: absolute;
              padding-top: 6px;
              color: #ccc; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox {
            width: 352px; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox.pop-rankbox-maskColor {
              position: absolute;
              left: 0;
              z-index: 2;
              margin-top: -11px; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox.pop-rankbox-maskColor .rank-list {
                border: #b9daf4 1px solid;
                background-color: #f6fdff; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox.pop-rankbox-maskColor .rank-list .rank-item a {
                  font-size: 14px;
                  padding: 0 10px;
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox.pop-rankbox-maskColor .rank-userbox {
                border: #b9daf4 1px solid;
                background-color: #f6fdff; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .pop-rankbox.pop-rankbox-maskColor .rank-userbox .rank-item a {
                  font-size: 14px;
                  padding: 0 10px;
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
.mll-center-questionnaire .right-center .form-item .form-item-editbox .buttonblue {
            margin: 15px 10px 0 5px; }

.mll-center-questionnaire .rank-list .rank-item,
.mll-center-questionnaire .rank-userbox .rank-item
 {
    line-height: 24px;
    margin: 0 0 5px 0;
    width: 100%;
    padding:0;
}

.mll-center-questionnaire .type-problemChoose li .input-textNoLine { 
	border:none; background:none; padding-left: 10px;
}

.mll-center-questionnaire .title-questionnaire { padding: 10px; }
.mll-center-questionnaire .title-questionnaire:hover,.mll-center-questionnaire .h3-active {
	 background-color: #eff6fd;
 }
 
 
.mll-center-questionnaire .questionnaire-list li.title-sel { border: none; }
.mll-center-questionnaire .questionnaire-list li.title-sel .input-text { width: 80%; border: solid #e3e3e3 1px; border-radius: 0; text-align: center; }
.mll-center-questionnaire .questionnaire-list li.title-sel select { width: 17%; display: inline-block; padding:2px 0; float: right; }

.mll-center-questionnaire .pop-questionnaire-right { width:100%; }

.mll-center-questionnaire .remind { width: 100%; position: fixed; top: 120px; left: 0; right: 0; text-align: center; z-index: 9999; }
.mll-center-questionnaire .remind p { padding:10px 40px; background-color: #fdf9ce; border:#dcdcdc solid 1px; display: inline-block;    }

.mll-center-questionnaire .word { word-break:break-all; word-wrap:break-word; white-space:pre-wrap; }
.mll-center-questionnaire .width50-per-cent { width: 50%; }
.mll-center-questionnaire .width90-per-cent { width: 90%; }

.mll-center-questionnaire .ckeditor-title{
	margin-left:50px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    background-color: #fff;
}

.mll-center-questionnaire .ckeditor-content{
	margin-left:30px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    background-color: #fff;
}

.mll-center-questionnaire .ckeditor-remark { 
	margin-left:30px!important;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    background-color: #fff;
	margin-top:10px;
}


.mll-center-questionnaire .ckeditor-text { 
	margin-left:30px!important;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    background-color: #fff;
	margin:10px 0px;
	width:85%;
}



.mll-center-questionnaire .q-word { word-break:break-all; word-wrap:break-word; }
.mll-center-questionnaire .q-word p { display: inline; }








