@charset "UTF-8";
.analysis-chart-border { border: #e8e8e8 1px solid; margin: 10px 0px; }
.analysis-chart-title { width: 100%; display: block; overflow: hidden; border-bottom: #e8e8e8 1px solid;}
.analysis-chart-title label{ line-height: 24px; margin-left:10px; float: left; }
.analysis-chart-title select{ height: 30px; border-radius: 4px; margin: 10px 10px; padding-left: 5px; width: 160px; border-color: #ddd; float: right; }










