<div id="dashboardEditBox">
	<div class="add-main">
		<div style="width: 500px;float: left;">
			<img src="images/icon/dashboard.png" style="vertical-align: middle;margin-right: 4px;width: 20px;"/>
			<select class="SID-defaultDashboard dashboardSelect" style="width:420px">
			
			</select>
		</div>
		<a style="float: left;" class="btnfrommplusforsm SID-setdefault-btn">设为默认</a>
		<div style="float: right;">
			<a class="SID-fullscreen-btn" style="color: #1788fb;margin-right: 20px;" title="全屏">
				<img src="images/icon/al.png" style="vertical-align: middle;width: 20px;float: left;margin-top: 5px"/>
				<!-- <span style="vertical-align: -webkit-baseline-middle;margin-left: 2px;">全屏</span> -->
				<!-- allowFullScreen=true -->
			</a>
		</div>
		<a class="SID-refresh-btn" style="float: right;color: #1788fb;margin-right: 20px;" title="刷新">
			<img src="images/icon/refresh.png" style="vertical-align: middle;width: 20px;float: left;margin-top: 5px"/>
			<!-- <span style="vertical-align: -webkit-baseline-middle;">刷新</span> -->
		</a>
		<!-- <a class="SID-setdefault-btn" style="float: right;color: #1788fb;margin-right: 10px;">
			<img src="images/icon/set_default.png" style="vertical-align: middle;width: 26px;height: 26px;float: left;margin-top: 5px"/>
			<span style="vertical-align: -webkit-baseline-middle;">设为默认</span>
		</a> -->
	</div>
	<div class="tree-container tree-container-nobutton">
	    <!-- <div class="searchBlock">
	    	<form id = "subForm" onkeydown="if(event.keyCode==13)return false;">
	        变为展开查询的时候span标签调用样式fhicon-arrowD2,search-modle后增加hide
	        <div class="search-toggleBar">
	            <a class="search-toggle SI-search-toggle">
	                <span class="icon-set fhicon-arrowD2"></span><span>展开查询条件</span>
	            </a>
	        </div>
	        <div class="search-modle hide">
	            <div class="hold-meet-mod lef">
	                <div class="search-list search-button">
	                    <label class="search-label">搜索：<input type="text" class="choose-text SID-keyword" placeholder="搜索  地址/用户名" style="width:60%" name = "keyword" onpaste="return false"/></label>
	                    <a class = "SID-search">查询</a><a class = "SID-clearSearch">清空</a>
	                </div>
	            </div>
	            <div class="search-button seb"><a class = "SID-search">查询</a><a class = "SID-clearSearch">清空</a></div>
	        </div>
	       </form>
	    </div> -->
	    <!-- 表格内容 -->
	    <!-- <div class="tableblock">
	        <table id = "meet-hold" width = "100%" class = "common-table"></table>
	    </div> -->
	    
		<div class="grid-stack">
		</div>
		
	</div>
</div>
