<div id="dashboardMngBox">
	<div class="add-main">
	     <a class="btnfrommplusforsm SID-createDashboard-btn">新增</a>
	</div>
	<div class="tree-container tree-container-nobutton">
		<div class="searchBlock">
	    	<form id = "subForm" onkeydown="if(event.keyCode==13)return false;">
	       <!--  变为展开查询的时候span标签调用样式fhicon-arrowD2,search-modle后增加hide -->
	        <div class="search-toggleBar">
	            <a class="search-toggle SI-search-toggle">
	                <span class="icon-set fhicon-arrowD2"></span><span>展开查询条件</span>
	            </a>
	        </div>
	        <div class="search-modle hide">
        	<ul class="search-list">
        		<li class="search-item" style="width: 80%">
	        		<label class="search-label">搜索：</label>
	        		<input type="text" class="choose-text SID-keyword" placeholder="搜索  dashboard" style="width: 60%" name = "keyword" onpaste="return false"/>
        		</li>
        	</ul>
            <div class="search-button">
                <a class = "SID-search">查询</a><a class = "SID-clearSearch">清空</a>
            </div>
        </div>
	       </form>
	    </div>
	    <div class="tableblock">
	        <table id = "meet-hold" width = "100%" class = "common-table"></table>
	    </div>
	</div>
</div>
<div id="dashboardEditBox" style="display: none;">
	
</div>
