<div class="outmain-cons">
    <div class="main-cons">
        <div class="formBox">
            <div class="form-item">
                <label class="form-item-label">会议室名称：</label>
                <div class="form-item-editbox grey"><%=room.roomName%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">面积：</label>
                <div class="form-item-editbox grey"><%=room.area%>m²</div>
            </div>
            <div class="form-item">
                <label class="form-item-label">容纳人数：</label>
                <div class="form-item-editbox grey"><%=room.capacity%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">设备：</label>
                <div class="form-item-editbox grey"><%=room.equipment%></div>
            </div>
            <div class="form-item form-item-wrong">
                <label class="form-item-label">地址：</label>
                <div class="form-item-editbox grey"><%=room.address%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">详情：</label>
                <div class="form-item-editbox grey"><%=room.remarks%></div>
            </div>
            <div class="form-item">
                <label class="form-item-label">布局图：</label>
                <div class="form-item-editbox down">
                    <div class="form-item-treebox noborder">
                        <img src="<%=imgPath%>" class="SID-img-hide"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
