<div class="blockInside">
    <div class="tree-container tree-container-nobutton">
        <div class="searchBlock">
            <div class="search-toggleBar">
                <a class="search-toggle SID-search-toggle">
                    <span class="icon-set fhicon-arrowD2"></span><span>展开查询条件</span>
                </a>
            </div>
        </div>
        <!-- 查询主体 -->
        <div class="book-container">
            <!-- 左侧部分 -->
            <div class="book-aside SID-left-aside">
               <table width="100%" border="0" cellspacing="0" cellpadding="0" class="meetinfo-num SID-lawTable">
			 		<tr>
				        <td class="SID-td-law SID-td-1" data-state="1"><a href="javascript:void(0)"  data-state="1" style="pointer-events: none;">我处理的任务</a></td>
				    </tr>
				    <tr>
				        <td class="SID-td-law SID-td-2" data-state="2"><a href="javascript:void(0)"  data-state="2" style="pointer-events: none;">我参与的任务</a></td>
				    </tr>
				    <tr>
				        <td class="SID-td-law SID-td-defaule" data-state="3"><a href="javascript:void(0)"  data-state="3" style="pointer-events: none;">科室任务</a></td>
				    </tr>
			   </table>
            </div>
            <!-- 右侧部分 -->
            <div class="book-main SID-right-aside">          
               
            </div>
        </div>
    </div>    
</div>