<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//UNKNOWN/" "classpath:mybatis-3-mapps.dtd" >
<mapper namespace="com.fiberhome.mapps.meetingroom.dao.MrResConfigMapper">
  <resultMap id="BaseResultMap" type="com.fiberhome.mapps.meetingroom.entity.MrResConfig">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="res_name" jdbcType="VARCHAR" property="resName" />
    <result column="res_type" jdbcType="VARCHAR" property="resType" />
    <result column="res_user_id" jdbcType="VARCHAR" property="resUserId" />
    <result column="res_order" jdbcType="NUMERIC" property="resOrder" />
  </resultMap>
  
</mapper>