<% for(var i=0,traceList; trace=traceList[i++];) { %>
	<div class="SID-traceDiv tracehover" data-index="<%=(i-1) %>" style="padding: 0 0 4px 0;display: inline-block;width: 100%;cursor: pointer;height: 40px">
		<div style="width: 20%;float: left;height: 20px">
		<%=trace.serviceName %>
		</div>
		<div style="width: 80%;float: right;height: 40px;overflow: hidden;" title="<%=trace.duration+' : '+trace.name %>">
			<%=trace.duration+" : "+trace.name %>
			<div class="<%=trace.color %>" style="height: 20px;width: <%=trace.width %>;margin-left: <%=trace.left %>;overflow: visible;white-space: nowrap;margin-top: 7px;"></div>
		</div>
	</div>
<%}%>

