<% for(var i=0,filterList; filter=filterList[i++];) { 
	%>
	<div class="form-item">
		<div class="form-item-editbox" style="width: 100%;padding: 0 10px;">
			<a class="SID-toggleFilter" href="#"><span class="fhicon-arrow<%if(i==1){%>U<%}else{%>D<%}%>2" style="color: #1788fb;font-weight: bold;float: left;line-height: 30px"></span>
			<label class="form-item-label" style="width: auto;"><%=filter.key %>:</label></a><input class="SID-filter-groupby form-item-text" style="width:15px;height: 15px;" type="checkbox" id="<%=filter.key %>groupby" data-tag="<%=filter.key %>"/><label style="margin:0 4px;color: #666" for="<%=filter.key %>groupby">按<%=filter.key %>分组</label>
		</div>
		<div class="form-item-editbox tagvalueBox" style="width: 100%;padding: 0 10px;display: <%if(i==1){%>block<%}else{%>none<%}%>;">
			<%
				var valueList = filter.value.split(",");
				for(var j=0,valueList;value=valueList[j++];){
				%>
				<input class="SID-filter-tagvalue form-item-text" style="width:15px;height: 15px;" type="checkbox" id="<%=filter.key %>tag<%=value %>" data-tag="<%=filter.key %>" value="<%=value %>"/><label style="margin:0 4px;color: #666" for="<%=filter.key %>tag<%=value %>"><%=value %></label>
				<%
				}
			%>
		</div>
		<hr style="width: 100%"/>
	</div>
<%}%>