<div class="base-info" style="margin: 10px;">
	<table class="stable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    	<td class="tabletit" width="40%">value</td>
        <td class="tabletit" width="40%">value名称</td>
        <td class="tabletit" width="20%">单位</td>
    </tr>
</table>
<table class="stable SID-instanceBox" style="border-top-width: 0" width="100%" border="0" cellspacing="0" cellpadding="0">
</table>
</div>
<link rel="stylesheet" href="js/lib/editableselect/jquery-editable-select.css"/>