<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon fhicon-back size20"></i>
        </a>
        <h1 class="titlebar-title text-center SID-survey-title"></h1>
        <div class="titlebar-right">
            <a class="titlebar-button" id="ID-submit-Btn" style="display:none;">提交</a>
            <a class="titlebar-button" id="ID-stat-Btn" style="display:none;">问卷统计</a>
        </div>
    </div>
</header>
<article class="SID-detail-article q-preview-computer">
	<div style="text-align:right;"><span class="SID-submitTime" style="padding:1rem 1rem 0rem 0rem;display:none;"></span></div>
	<!-- Questionnaire content -->
	<form id="ID-FormMeetAdd">
        <div class="uestionnaire" id="ID-question-div">
        </div>
	</form>
        <div class="button-questionnaire">
            <a class="blueButton SID-prev-btn" style="display:none;line-height: 1rem;">上一页</a>
            <a class="blueButton SID-next-btn" style="display:none;line-height: 1rem;">下一页</a>
        </div>  

</article>
