<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-back" href="javascript:mplus.closeWindow()">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">我的设备</h1>
        <div class="titlebar-right">
            <a class="titlebar-button" id="ID-Index-BtnAdd"><i class="icon icon-qrcodeline"></i></a>
            <a class="titlebar-button" id="ID-Index-BtnCheck"><i class="icon icon-seal"></i></a>
        </div>
    </div>
</header>
<div class="line" style="top:44px;"></div>
<article style="top:44px;background-color: white;">
    <div style="position: relative;width: 100%">
        <ul class="list" id="ID-Index-List"></ul>
    </div>
</article>