<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">搜索</h1>
    </div>
    <div class="app-blockSearch">
        <form id="ID-MeetSearch-SearchForm" method="post" class="inputbox" data-input="clear">
            <i class="color-placeholder icon icon-search size20"></i>
            <input type="search" placeholder="请输入会议名称" name="NID-MeetSearch-Search" class="search input-text" style="padding: 6px 12px 6px 0;">
            <i class="color-placeholder icon icon-clear-fill hide size20"></i>
            <!-- <div class="inputbox-search-placeholder">
                <i class="inputbox-search-icon icon-search"></i>
                <span class="inputbox-search-font">请输入会议名称</span>
            </div> -->
        </form>
    </div>
</header>
<article style="top:87px;" id="ID-MeetSearch-Result">
    <%=initHTML%>
</article>