<header>
    <div class="titlebar">
        <a class="titlebar-button titlebar-left SID-Back">
            <i class="icon icon-back"></i>
        </a>
        <h1 class="titlebar-title text-center">会议详情</h1>
        <a class="titlebar-button titlebar-right" id="ID-MeetDetail-Menu">
            <i class="icon icon-menudot"></i>
        </a>
    </div>
    <div class="app-tabbarBox" id="ID-MeetDetail-Tabbar"></div>
</header>
<article style="top:96px">
    <div class="swiper-container" id="ID-MeetDetail-Pages" style="height: 300px;"></div>
</article>
<!--菜单弹出框-->
<div class="app-popover" id="ID-MeetDetail-MenuPop">
	<ul>
		<li class="underline" id="ID-MeetDetail-BtnQrcode">
			<i class="icon icon-qrcodeline"></i>
			<label>扫码签到</label>
		</li>
		<li class="underline" id="ID-MeetDetail-BtnGroupChat">
			<i class="icon icon-chats"></i>
			<label>会议群聊</label>
		</li>
		<li class="underline" id="ID-MeetDetail-BtnCancel"> 
			<i class="icon icon-rdocancel"></i>
			<label>取消会议</label>
		</li>
		<li class="underline" id="ID-MeetDetail-BtnFinish">
			<i class="icon icon-rdook"></i>
			<label>结束会议</label>
		</li>
		<li class="underline" id="ID-MeetDetail-BtnDel">
			<i class="icon icon-del"></i>
			<label>删除会议</label>
		</li>
	</ul>
</div>