<div class="blockInside">
    <div class="crumb">运维统计 &gt; <span class="SID-nav">会议室统计</span></div>
    <hr class="crumbLine">
    <ul class="tablist">
        <li class="active"><a data-tab-id="0" class="SID-tab">会议室统计</a></li>
        <li><a data-tab-id="1" class="SID-tab">用户记录</a></li>
    </ul>
    <div class="SID-tab-container" tab-content-id="0">
    <div class="SID-roomstat-snippet"></div>
    </div>
    <div class="SID-tab-container hide" tab-content-id="1">
    <div class="SID-userrecord-snippet"></div>
    </div>
</div>